<template>
  <div class="markers">
  </div>
</template>
<script>

// <l-marker @click="markerClick(loc.properties.nid)" :data-nid="loc.properties.nid" v-for="loc in filtered_map_data" :ref="'marker_' + loc.properties.nid" :key="loc.properties.nid" :lat-lng="loc.geometry.coordinates">
// <l-popup :data-nid="loc.properties.nid" class="popup__context-menu-button-wrapper" :ref="'popup_' + loc.properties.nid"
// :options="{'minWidth': 250, 'maxWidth': 251, 'closeButton': false, className: 'institution-icon__context-menu', offset: [0, -6]}" tabindex="0">
// <img class="popup__image" :src="loc.properties.thumbnail"
// :alt="'thumbnail image of ' + loc.properties.title">
// <div class="popup__title">{{ loc.properties.title }}</div>
// </l-popup>

import L from 'leaflet';

import "leaflet/dist/leaflet.css"

import "leaflet.markercluster/dist/MarkerCluster.css";
import "leaflet.markercluster/dist/MarkerCluster.Default.css";
import "leaflet.markercluster/dist/leaflet.markercluster.js";

import {Icon} from 'leaflet';

delete Icon.Default.prototype._getIconUrl;
Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
});


import markerPng from '../assets/marker.png';

export default {
  name: 'Markers',
  props: ['map_ref', 'map_locations_full', 'map_locations_filtered'],
  data: () => {
    return {
      marker_cluster_options: {
        polygonOptions: {opacity: 0, fillOpacity: 0},
        // disableClusteringAtZoom: 17,
        spiderfyOnMaxZoom: true,
        maxClusterRadius: function (zoom) {
          return (zoom <= 17) ? 80 : 5; // radius in pixels
        }
      },
      popup_options: {
        // offset: L.point([7, -4]),
        // offset: L.point([0,-31]),
        // direction: 'top',
        opacity: 1,
        'closeButton': false,
        className: 'popup__context-menu-button-wrapper',
      },
      marker_options: {
      },
      icon_options: {
        iconUrl: markerPng,
        iconSize: [24, 31],
        iconAnchor: [12, 31],
        popupAnchor: [0, -31],
        tooltipAnchor: [0, 0],
        // shadowUrl: null,
      },
      marker_cluster: null,
      all_markers: {},
    }
  },
  components: {
  },
  created() {
    // create markers, add to map
    this.marker_cluster_options['iconCreateFunction'] = this.clusterIconCreateFunction;
    this.marker_cluster_options['chunkedLoading'] = true;
    this.marker_cluster_options['chunkInterval'] = 50;
    this.marker_cluster_options['chunkProgress'] = this.markerloadingProgressUpdate;
    this.marker_options['icon'] = L.icon(this.icon_options)
    this.mapInit()
  },
  methods: {
    mapInit: function() {
      if (!this.map || typeof this.map_locations_full === "undefined") {
        setTimeout(this.mapInit, 100)
        return;
      }


      this.marker_cluster = L.markerClusterGroup(this.marker_cluster_options);

      this.map_locations_full.forEach(map_loc => {
        let marker = L.marker(L.latLng(parseFloat(map_loc.geometry.coordinates[0]), parseFloat(map_loc.geometry.coordinates[1])), this.marker_options);
        marker.on('click', () => {
          this.markerClick(map_loc.properties.nid)
        })

        // add the rest of the tooltip here
        let popup_content = document.createElement('a');
        popup_content.setAttribute('href', map_loc.properties.url);
        popup_content.classList.add('popup__link');
        let popup_image = document.createElement('img');
        popup_image.classList.add('popup__image');
        popup_image.setAttribute('loading', 'lazy');
        popup_image.setAttribute('src', map_loc.properties.thumbnail);
        popup_image.setAttribute('alt', `thumbnail image of ${map_loc.properties.title}`);
        popup_content.appendChild(popup_image)
        let popup_title = document.createElement('div');
        popup_title.classList.add('popup__title');
        let popup_title_text = document.createTextNode(map_loc.properties.title);
        popup_title.appendChild(popup_title_text);
        popup_content.appendChild(popup_title)
        marker.bindPopup(popup_content, this.popup_options);
        this.marker_cluster.addLayer(marker);
        this.all_markers[map_loc.properties.nid] = marker;
      })

      this.map.addLayer(this.marker_cluster);

      this.$watch('map_locations_filtered', (newArray, oldArray) => {
        let old_nids = oldArray.map(i => i.properties.nid);
        let new_nids = newArray.map(i => i.properties.nid);
        // console.log('old nids', old_nids)
        // console.log('new_nids', new_nids)

        let added_nid = new_nids.filter(n_i => !old_nids.some(o_i => o_i === n_i));
        let removed_nid = old_nids.filter(o_i => !new_nids.some(n_i => o_i === n_i));
        added_nid.forEach(a_i => {
          this.marker_cluster.addLayer(this.all_markers[a_i])
        })
        removed_nid.forEach(r_i => {
          this.marker_cluster.removeLayer(this.all_markers[r_i])
        })
      })
    },
    clusterIconCreateFunction: function(cluster) {
      const childCount = cluster.getChildCount();
      return new L.DivIcon({
        html: '<div><span>' + childCount + '</span></div>',
        className: 'marker-cluster marker-cluster-medium',
        iconSize: new L.Point(40, 40)
      });
    },
    markerClick: function(nid) {
      if (this.$store.state.active_map_active_id === nid) {
        this.$store.commit('setActiveMapId', null);
      }
      else {
        this.$store.commit('setActiveMapId', nid);
      }
    },
    markerloadingProgressUpdate: function(numLoaded, totalMarkers) {
      if (numLoaded !== totalMarkers) {
        this.$store.commit('setIsLoadingMarkers', true)
        this.$store.commit('setNumMarkersLoaded', numLoaded)
        this.$store.commit('setNumMarkersToLoad', totalMarkers)
      }
      else {
        this.$store.commit('setNumMarkersLoaded', numLoaded)
        this.$store.commit('setNumMarkersToLoad', totalMarkers)
        this.$store.commit('setIsLoadingMarkers', false)
      }
    },
    zoomToResults: function () {
      this.$nextTick(() => {
        if (!this.map) {
          return;
        }
        this.map.invalidateSize();
        this.map.fitBounds(this.marker_cluster.getBounds());
      });
    },
  },
  mounted() {
    // this.resetView();
  },
  beforeDestroy() {
    this.map.removeLayer(this.marker_cluster)
  },
  watch: {
    '$store.state.zoomToWatchable': function() {
      if (this.$store.state.zoomTo === 'results') {
        setTimeout(this.zoomToResults, 500)
      }
    },
    '$store.state.active_list_active_id': function() {
      if (this.$store.state.active_list_active_id) {
        let targetMarker = this.all_markers[this.$store.state.active_list_active_id];
        this.marker_cluster.zoomToShowLayer(targetMarker, () => {
          targetMarker.fire('click');
        })

      }
      else {
        this.map.closePopup()
      }
    }
  },
  computed: {
    map: function() {
      if (typeof this.map_ref !== 'undefined') {
        return this.map_ref.mapObject;
      }
      return null;
    },
  }
}
</script>

<style lang="scss">
@import "../../node_modules/leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

@import '../css_vars.scss';


.leaflet-pane > svg path.leaflet-interactive {
  transition: fill 0.25s ease;

  &:hover {
    //fill: $primary-color-hover
  }
}

.popup__context-menu-button-wrapper {
  //border: 2px $;
  border-radius: 10px;
  max-width: min(200.1px, 80vw);
  min-width: min(200px, 80vw);
  width: 100%;

  white-space: unset;
  .leaflet-popup-content-wrapper {
    padding: 0;
    border: 0;
    overflow: hidden;
  }
  .leaflet-popup-content {
    margin: 0;
  }
  .popup__link {
    display: block;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  .popup__title {
    margin: 0;
    padding: 0.8em 1.2em;
    color: $accent;
    font-weight: bold;
  }
  .popup__image {
    max-width: 100%;
    max-height: 161px;
    min-height: 160px;
    width: auto;
    height: 100%;
    margin: 0 auto;
    display: block;
  }
  .leaflet-popup-tip {
    display: none;
  }
  //margin-top: -10px;
  //line-height: 1.5;
  //opacity: 0;
  //transition: opacity 0.2s ease;
  ////font-size: $font-size-small;
  &:before {
    display: none;
  }
  //&:after {
  //  content: "";
  //  display: block;
  //  width: 0;
  //  height: 0;
  //  left: 50%;
  //  bottom: 0;
  //  position: absolute;
  //  margin-bottom: -25px;
  //  margin-left: -12px;
  //  box-shadow: 2px $accent;
  //  z-index: 1;
  //  border: 12px solid transparent;
  //  border-top-color: $accent;
  //}
}

.marker-cluster {
  background-color: $accent--transparent;
  color: white;
  > div {
    background-color: $accent--transparent;
    color: white;
  }
}

</style>
