<template>
  <div class="whereabouts-neighborhood-map" :class="{
    'whereabouts-neighborhood-map--loading-data': is_loading_data,
    'whereabouts-neighborhood-map--error-data': is_error_data,
    'whereabouts-neighborhood-map--has-message': is_loading_data || is_error_data,
  }">
    <Transition name="fade" :duration="100">
      <div v-if="is_loading_data" class="data-loading-state data-loading-state--loading">Loading map data...</div>
    </Transition>
    <Transition name="fade" :duration="100">
      <div v-if="is_error_data" class="data-loading-state data-loading-state--error">Error loading map data. Please try
        again later.
      </div>
    </Transition>
    <l-map :style="cssVars" class="whereabouts-neighborhood-map__map" ref="whereabouts_neighborhood_map"
           :options="{ zoomControl: leaflet_settings.zoomControl, zoomSnap: leaflet_settings.zoomSnap }">
      <l-tile-layer
          :url="leaflet_settings.tileLayer.url"
          :subdomains="leaflet_settings.tileLayer.subdomains"
          :attribution="leaflet_settings.tileLayer.attribution"
          :maxZoom="leaflet_settings.tileLayer.maxZoom"
      ></l-tile-layer>
      <l-feature-group ref="whereabouts_points_feature_group">
        <Vue2LeafletMarkerCluster ref="clusterRef" :options="marker_cluster_options">
          <l-marker v-for="(loc) in neighborhood_features.features" :key="loc.properties.nid"
                    :lat-lng="loc.geometry.coordinates"
                    :icon="icon">
            <l-popup :options="popup_options" @click="openNeighborhood(loc)">
              <a class="popup__link" :href="loc.properties.url">
                <img class="popup__image" loading="lazy" :alt="'thumbnail image of ' + loc.properties.title" :src="loc.properties.thumbnail">
                <div class="popup__title">{{loc.properties.title}}</div>
              </a>
            </l-popup>
          </l-marker>
        </Vue2LeafletMarkerCluster>
      </l-feature-group>
    </l-map>
  </div>

</template>
<script>
import L from 'leaflet';

import "leaflet/dist/leaflet.css"


// import "leaflet.markercluster/dist/MarkerCluster.css";
// import "leaflet.markercluster/dist/MarkerCluster.Default.css";

import {
  LMap,
  LTileLayer,
  LMarker,
  LPopup,
  LFeatureGroup
} from 'vue2-leaflet';

import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'

import {Icon} from 'leaflet';
import config from "../config.json";


import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

import Vuex from 'vuex'
import markerPng from "../assets/marker.png";

Vue.use(Vuex)
Vue.use(VueAxios, axios)


delete Icon.Default.prototype._getIconUrl;
Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
});


export default {
  name: 'neighborhoodMap',
  props: ['lat', 'lng', 'zoom'],
  data: () => {
    return {
      neighborhood_features: [],
      is_loading_data: false,
      is_error_data: false,
      data_call_host: window.location.host.indexOf('.') !== -1 ? window.location.origin : config.fallback_host,
      leaflet_settings: {
        // zoomControl: false,
        zoomSnap: 0.1,
        tileLayer: {
          url: "https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png",
          subdomains: 'abcd',
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
          maxZoom: 17,
        }
      },
      marker_cluster_options: {
        polygonOptions: {opacity: 0, fillOpacity: 0},
        // disableClusteringAtZoom: 17,
        spiderfyOnMaxZoom: true,
        maxClusterRadius: function (zoom) {
          return (zoom <= 17) ? 80 : 5; // radius in pixels
        }
      },
      popup_options: {
        opacity: 1,
        direction: 'top',
        'closeButton': false,
        className: 'popup__context-menu-button-wrapper',
      },
      icon_options: {
        iconUrl: markerPng,
        iconSize: [24, 31],
        iconAnchor: [12, 31],
        popupAnchor: [0, -31],
        tooltipAnchor: [0, 0],
        // shadowUrl: null,
      },
      icon: null,
      locationMarker: null,
      viewResetTimeout: null,
    }
  },
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    LFeatureGroup,
    Vue2LeafletMarkerCluster
  },
  created() {
    this.marker_cluster_options['iconCreateFunction'] = this.clusterIconCreateFunction;
    this.getMapData();
    this.icon = L.icon(this.icon_options)
  },
  beforeDestroy() {
    this.stopWatchingLocation();
  },
  methods: {
    async getMapData() {
      try {
        this.is_loading_data = true;
        // const response = await this.$http.get(this.data_call_host + this.stops_url);
        this.neighborhood_features = JSON.parse(JSON.stringify(window.drupalSettings.whereabouts_neighborhood_map_data));
        this.resetView();

        // console.log('response data', response.data)

      }
      catch (err) {
        console.log('Error on data loading:', err);
        this.is_error_data = true;
      }
      finally {
        this.is_loading_data = false;
      }
    },
    // openNeighborhood: function(loc) {
    //   window.location.href = window.location.origin + loc.properties.url;
    // },
    resetView: function(padding, timeoutLength) {
      if (typeof timeoutLength === 'undefined') {
        this.setView(padding)
      }
      else {
        clearTimeout(this.viewResetTimeout);
        this.viewResetTimeout = setTimeout(() => {
          this.setView(padding)
        }, timeoutLength)
      }
    },
    setView: function(padding) {
      if (typeof padding === 'undefined') {
        padding = [30, 30];
      }
      // bounds = bounds || L.latLngBounds(L.latLng(this.start_bounds[0][0], this.start_bounds[0][1]), L.latLng(this.start_bounds[1][0], this.start_bounds[1][1]))
      this.$nextTick(() => {
        this.$refs.whereabouts_neighborhood_map.mapObject.invalidateSize();
        if (typeof this.$refs.whereabouts_points_feature_group !== 'undefined') {
          const featureGroup = this.$refs.whereabouts_points_feature_group.mapObject
          // console.log('featureGroup', featureGroup);
          this.$refs.whereabouts_neighborhood_map.mapObject.fitBounds(featureGroup.getBounds(), {padding: padding});
        }
        else {
          const lat = this.lat || 36
          const lng = this.lng || -78.87
          const zoom = this.zoom || 15
          this.$refs.whereabouts_neighborhood_map.mapObject.setView([lat, lng], zoom);
        }
      });
    },
    getLocData: function(active_location) {
      return Object.keys(active_location)
          .map(key => {
            return {'name': key, 'value': active_location[key]};
          })
    },
    latlng: L.latLng,
    clusterIconCreateFunction: function(cluster) {
      const childCount = cluster.getChildCount();
      return new L.DivIcon({
        html: '<div><span>' + childCount + '</span></div>',
        className: 'marker-cluster marker-cluster-medium',
        iconSize: new L.Point(40, 40)
      });
    },
  },
  mounted() {
    this.resetView();


    let map = this.$refs.whereabouts_neighborhood_map.mapObject;
    map.scrollWheelZoom.disable();
    let scroll_tip_vanish_timeout = undefined
    let replace_leaflet_scroll_handler = (event) => {
      event.stopPropagation();
      if (event.ctrlKey === true) {
        event.preventDefault();
        map.scrollWheelZoom.enable();
        map._container.classList.remove('map-scroll');
        setTimeout(() => {
          map.scrollWheelZoom.disable();
        }, 1000);
      } else {
        map.scrollWheelZoom.disable();
        map._container.classList.add('map-scroll');
        clearTimeout(scroll_tip_vanish_timeout);
        scroll_tip_vanish_timeout = setTimeout(() => {
          map._container.classList.remove('map-scroll');
        }, 2000);
      }
    }
    this.$refs.whereabouts_neighborhood_map.$el.addEventListener('DOMMouseScroll', replace_leaflet_scroll_handler);
    this.$refs.whereabouts_neighborhood_map.$el.addEventListener('mousewheel', replace_leaflet_scroll_handler);

    let window_scroll_handler = () => {
      map._container.classList.remove('map-scroll');
    };

    document.addEventListener('DOMMouseScroll', window_scroll_handler)
    document.addEventListener('mousewheel', window_scroll_handler)

    // reset view on resize

    const resizeObserver = new ResizeObserver((entries) => {
      for (const entry of entries) {

        let height;
        if (entry.contentBoxSize) {
          // Firefox implements `contentBoxSize` as a single content rect, rather than an array
          const contentBoxSize = Array.isArray(entry.contentBoxSize) ? entry.contentBoxSize[0] : entry.contentBoxSize;
          height = contentBoxSize.blockSize;
        }
        else {
          height = entry.contentRect.height;
        }


        if (height < 240) {
          this.resetView([20, -90], 200)
        }
        else {
          this.resetView([30, 30], 200)
        }
      }
    });

    resizeObserver.observe(this.$refs.whereabouts_neighborhood_map.$el);

    this.$refs.whereabouts_neighborhood_map.$el.addEventListener('resize', () => {
      if (this.$refs.whereabouts_neighborhood_map.$el.getBoundingClientRect().height < 240) {
        this.resetView([20, -90], 200)
      }
      else {
        this.resetView([30, 30], 200)
      }
    })

  },
  watch: {
  },
  computed: {
    cssVars() {
      return {
        '--icon-width': this.icon_options.iconSize[0] + 'px',
        '--icon-height': this.icon_options.iconSize[1] + 'px',
        // '--active-icon-width': this.active_icon_options.iconSize[0] + 'px',
        // '--active-icon-height': this.active_icon_options.iconSize[1] + 'px'
      }
    },
  }
}
</script>

<style lang="scss">
@import "../../node_modules/leaflet/dist/leaflet.css";

@import '../css_vars.scss';

$icon-width: var(--icon-width);
$icon-height: var(--icon-height);
//$active-icon-width: var(--active-icon-width);
//$active-icon-height: var(--active-icon-height);

.whereabouts-neighborhood-map {
  display: block;
  width: 100%;
  max-width: 100%;
  //height: min(70vw, 500px, 100%);
  height: 100%;
  max-height: 100%;
  position: relative;

}

.whereabouts-neighborhood-map__map {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.whereabouts-neighborhood-map__map-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.whereabouts-neighborhood-map__map-size-wrapper {
  position: absolute !important;

  &[style] {
    position: absolute !important;
  }

  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}


.whereabouts-neighborhood-map__map {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.whereabouts-neighborhood-map__neighborhood-button {
  text-align: center;
  padding: 8px 0;
}


.whereabouts-neighborhood-map {
  background: white;
}


.neighborhood-marker__pin {
  opacity: 0.8;
  transition: transform 0.5s ease;
  transition-property: transform, opacity;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;

  &:before {
    border-radius: 50%;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background: $accent;
    opacity: 1;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }

  &:after {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    //height: 100%;
    border-left: transparent calc(#{$icon-width} / 2 * 0.9) solid;
    border-right: transparent calc(#{$icon-width} / 2 * 0.9) solid;
    border-top: $accent calc(#{$icon-height} * 0.49) solid;
    border-bottom: 0;
  }

  //&.neighborhood-marker--active {
  //  &:after {
  //    border-left: transparent calc(#{$active-icon-width} / 2 * 0.8) solid;
  //    border-right: transparent calc(#{$active-icon-width} / 2 * 0.8) solid;
  //    border-top: $accent calc(#{$active-icon-height} * 0.4) solid;
  //  }
  //}
  > .neighborhood-marker__pin-text {
    position: absolute;
    top: calc(#{$icon-width} / 2);
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 33;
    font-size: 18px;
    transition: top ease 0.2s;
    transition-property: font-size, top;
  }

  //&.neighborhood-marker--active {
  //  > span {
  //    top: calc(#{$active-icon-width} / 2);
  //    font-size: 22px;
  //  }
  //}
}

.neighborhood-marker--active {
  .neighborhood-marker__pin {
    opacity: 1;
    transform: scale(1.3);
    transform-origin: center bottom;
  }
}

.data-loading-state {
  position: absolute;
  font-size: 2em;
  line-height: 1.1;
  color: $text-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  //max-width: 500px;
  padding: 20px;
}

$icon-size: 22px;

%icon-styles {
  height: $icon-size;
  width: $icon-size;
  display: inline-block;
  transition: transform 0.25s ease;
  mask-size: contain;
  mask-repeat: no-repeat;
  //mask-size: 100%;
  mask-position: center;
  background-color: $accent;
  z-index: 1;
  position: relative;
}

%location-icon {
  @extend %icon-styles;
  mask-image: url('../assets/location.svg');
  background-color: #222;
}

.location-icon {
  @extend %location-icon;
}

%marker-icon {
  @extend %icon-styles;
  mask-image: url('../assets/location-pin-solid.svg');
  background-color: #444;
}

.marker-icon {
  @extend %marker-icon;
}

.location-button,
.geoloc-button {
  cursor: pointer;
  background-color: white;
  border: 1px solid #999;
  padding: 6px;
  margin: 0;
  border-radius: 2px;
  height: $icon-size;
  box-sizing: content-box;
}


.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/* map animations */
.fade-enter-to, .fade-leave {
  opacity: 1;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
  transition-property: opacity, height, max-height;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}


.spinner {
  border: 5px solid #333;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: transparent;
  display: block;
  animation: spin 1s infinite cubic-bezier(.27, .62, .76, .35);
  border-bottom-color: transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.whereabouts-neighborhood-map__map {
  &:before,
  &:after {
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    position: absolute;
  }

  &:before {
    content: 'Use ctrl + scroll to zoom the map';
    top: 50%;
    left: 50%;
    z-index: 999;
    font-size: 34px;
    padding: 20px;
    max-width: 100%;
    transform: translate(-50%, -50%);
  }

  &:after {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: '';
    background: #000000;
    z-index: 999;
  }
}


.whereabouts-neighborhood-map__map.map-scroll:before {
  opacity: 1;

  .whereabouts-neighborhood-map--has-message & {
    opacity: 0;
  }
}

.whereabouts-neighborhood-map__map.map-scroll:after {
  opacity: 0.2;

  .whereabouts-neighborhood-map--has-message & {
    opacity: 0;
  }
}


.popup__context-menu-button-wrapper {
  //border: 2px $;

  white-space: unset;

  .leaflet-popup-content{
    border-radius: 10px;
    max-width: min(200.1px, 80vw);
    min-width: min(200px, 80vw);
    width: 100%;
    display: block;
    text-decoration: none;
    cursor: pointer;
    position: relative;
  }


  .leaflet-popup-content-wrapper {
    padding: 0;
    border: 0;
    overflow: hidden;
  }
  .leaflet-popup-content {
    margin: 0;
  }
  .popup__link {
    display: block;
    text-decoration: none;
    position: relative;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  .popup__title {
    margin: 0;
    padding: 0.8em 1.2em;
    color: $accent;
    font-weight: bold;
  }
  .popup__image {
    max-width: 100%;
    max-height: 161px;
    min-height: 160px;
    width: auto;
    height: 100%;
    margin: 0 auto;
    display: block;
  }
  .leaflet-popup-tip {
    display: none;
  }
  //margin-top: -10px;
  //line-height: 1.5;
  //opacity: 0;
  //transition: opacity 0.2s ease;
  ////font-size: $font-size-small;
  &:before {
    display: none;
  }
  //&:after {
  //  content: "";
  //  display: block;
  //  width: 0;
  //  height: 0;
  //  left: 50%;
  //  bottom: 0;
  //  position: absolute;
  //  margin-bottom: -25px;
  //  margin-left: -12px;
  //  box-shadow: 2px $accent;
  //  z-index: 1;
  //  border: 12px solid transparent;
  //  border-top-color: $accent;
  //}
}

@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

.marker-cluster {
  background-color: $accent--transparent;
  color: white;
  > div {
    background-color: $accent--transparent;
    color: white;
  }
}

</style>
