<template>
  <div class="filters__filter filter">
    <label class="filter__label">{{ filter_labels[filter_data.variable] }}{{ filter_data.label }}</label>
    <v-select
        v-if="filter_data.type === 'select'"
        v-model="filter_value"
        :reduce="option => option.id"
        placeholder="Click or start typing..."
        :options="filter_options.find(f => f.id === filter_data.variable).values"
        :multiple="true"></v-select>

    <vue-slider
        v-if="filter_data.type === 'range'"
        :min="filter_range_min"
        :max="filter_range_max"
        :interval="1"
        :duration="0.1"
        :contained="true"
        :lazy="true"
        :dragOnClick="true"
        :tooltip="'always'"
        :marks="[filter_range_min, filter_range_max]"
        v-model="filter_value"
    />
  </div>
</template>
<script>

import VueSlider from 'vue-slider-component'
import vSelect from 'vue-select'


export default {
  name: 'SearchFilter',
  props: ['filter_data', 'filter_ranges', 'filter_labels', 'filter_options'],
  data: () => {
    return {
      filter_value: null,
      textChangeTimeout: null,
      isProgrammaticUpdate: false,
      updateRanges: 0,
    }
  },
  components: {
    VueSlider,
    vSelect,
  },
  created() {
    this.isProgrammaticUpdate = true;

    this.filter_value = this.$store.state.default_filters_state[this.filter_data.variable]
  },
  methods: {
  },
  mounted() {
    this.updateRanges++
    this.$nextTick(() => {this.updateRanges++})
    setTimeout(() => {this.updateRanges++}, 500)
  },
  watch: {
    filter_value: function () {
      if (this.isProgrammaticUpdate) {
        // console.log('this.isProgrammaticUpdate', this.isProgrammaticUpdate, 'in searchfilter', this.filter_data.variable);
        this.isProgrammaticUpdate = false;
        this.textChangeTimeout = setTimeout(() => {
          this.$store.commit('setFilterValue', {filter_id: this.filter_data.variable, new_value: this.filter_value})
        }, 1);
        return;
      }


      if (this.textChangeTimeout) {
        clearTimeout(this.textChangeTimeout);
      }

      this.$store.commit('setApplyingFilters', true);
      this.textChangeTimeout = setTimeout(() => {
        this.$store.commit('setFilterValue', {filter_id: this.filter_data.variable, new_value: this.filter_value})
      }, 500);
    },
    filter_ranges: {
      deep: true,
      handler() {
        this.updateRanges++;
        // this.$store.commit('setFilterValue', {filter_id: this.filter_data.id, new_value: this.filter_value})
      }
    },
    '$store.state.default_filters_state': {
      deep: true,
      handler() {
        this.filter_value = this.$store.state.default_filters_state[this.filter_data.variable]
        // this.$store.commit('setFilterValue', {filter_id: this.filter_data.id, new_value: this.filter_value})
      }
    }
    // filter_range_min: function () {
    //   if (this.filter_value[0] < this.filter_ranges[this.filter_data.variable][0]) {
    //     this.filter_value[0] = this.filter_ranges[this.filter_data.variable][0]
    //   }
    // },
    // filter_range_max: function () {
    //   if (this.filter_value[1] > this.filter_ranges[this.filter_data.variable][1]) {
    //     this.filter_value[1] = this.filter_ranges[this.filter_data.variable][1]
    //   }
    // }
  },
  computed: {
    filter_range_min: function() {
      if (typeof this.filter_ranges[this.filter_data.variable] === 'undefined') {
        return;
      }
      this.updateRanges;
      return this.filter_ranges[this.filter_data.variable][0];
    },
    filter_range_max: function() {
      if (typeof this.filter_ranges[this.filter_data.variable] === 'undefined') {
        return;
      }
      this.updateRanges;
      return this.filter_ranges[this.filter_data.variable][1];
    }
  }
}
</script>

<style lang="scss">

@import '../css_vars.scss';

@import "../../node_modules/vue-select/src/scss/vue-select.scss";
@import "../../node_modules/vue-slider-component/dist-css/vue-slider-component.css";
$themeColor: $bar-color;

@import "../../node_modules/vue-slider-component/lib/theme/antd.scss";
//@import "../../node_modules/vue-slider-component/theme/antd.css";

.filter {
  margin: 1em 0 1em;
}

.filters__filter {

}

input[type="text"] {
  border-radius: 25px;

  width: 100%;
  margin: calc(#{$site-padding}/2) 0;
  border: 2px solid #cfcfcf;
  padding: calc(#{$site-padding}*3/8) $site-padding;
}

.vs__dropdown-toggle {
  border-radius: 18px;
  border: 2px solid #cfcfcf;
  margin: calc(#{$site-padding}/2) 0;
}
.vs__dropdown-menu {
  border-width: 2px;
  border-color: #cfcfcf;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.vs__selected {
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 6px;
}

.vue-slider {
  box-sizing: content-box !important;
  margin: 2em 0 2.5em;
  * {
    box-sizing: content-box !important;
  }
  .vue-slider-dot-handle {
    box-sizing: border-box !important;
    border-color: $bar-color;
    background-color: white;
  }
}


.vue-slider-dot-tooltip-inner {
  background-color: #cccccc;
  color: $text-color;
  text-align: center;
  padding: calc(#{$site-padding} / 6) calc(#{$site-padding} / 4);
  border-radius: 0;
  &:after {
    border-top-color: #cccccc;
  }
}

.vue-slider-dot-tooltip-top {
  top: -3px;
}

.vue-slider-dot-tooltip-text {
  font-size: 0.8em;
  padding-bottom: 0.2em;
}

.filter--range {
  margin-right: calc(#{$site-padding} / 2);
}


</style>
