<template>
  <div class="whereabouts-search-map__results-list results-list">
    <div class="result-list__header">
      <div class="map-sidebar__title-search title-search">
        <div class="title-search__field">
          <label class="title-search__label">Title</label>
          <input class="title-search__input" type="text" v-model="label_filter_value">
        </div>

        <div @click="setActiveTab('filters')" class="title-search__hidden-filters">
          {{ num_filters_set === 1 ? "+ 1 Filter" : `+ ${num_filters_set} Filters` }}
        </div>
      </div>
      <div class="results-list__title">Search Results</div>
    </div>
    <virtual-list
        v-if="use_virtual_list"
        :data-key="(loc) => loc.properties.nid"
        :keeps="30"
        class="results-list__virtual-scroll virtual-scroll"
        wrap-class="virtual-scroll__wrapper"
        item-class="virtual-scroll__item"
        ref="result_list"
        :estimate-size="400"
        :data-sources="search_results"
        :data-component="searchResultComponent"
        :extra-props="{
          filter_options: filter_options,
          filter_labels: filter_labels,
          using_virtual_list: use_virtual_list,
       }"
    ></virtual-list>
    <div class="results-list__results-non-virtual" ref="result_list_static" v-else>
      <search-result
          v-for="result in search_results"
          :key="result.properties.nid"
          :using_virtual_list="use_virtual_list"
          :filter_options="filter_options"
          :filter_labels="filter_labels"
          :source="result"></search-result>
    </div>
  </div>
</template>
<script>

import VirtualList from 'vue-virtual-scroll-list'
import SearchResult from "./SearchResult";
export default {
  name: 'SearchResultList',
  props: ['search_results', 'filter_labels', 'filter_options', 'use_virtual_list', 'filter_ranges'],
  data: () => {
    return {
      searchResultComponent: SearchResult,
      label_filter_value: "",
      textChangeTimeout: null,
      isProgrammaticUpdate: false,
      updateNumFiltersSet: 0,
    }
  },
  components: {
    SearchResult,
    VirtualList
  },
  created() {
    this.location_data = {};
    this.label_filter_value = this.$store.state.default_filters_state['title'];

    this.unsubscribeFilters = this.$store.subscribe((mutation) => {
      if (mutation.type === 'setFilterValue') {
        this.updateNumFiltersSet++;
      }
    })
  },
  methods: {
    setActiveTab: function(tab) {
      this.$store.commit('setActiveTab', tab);
    }
  },
  mounted() {
  },
  watch: {
    '$store.state.active_map_active_id': function() {
      if (this.$store.state.active_map_active_id && this.use_virtual_list === true) {

        this.$store.commit('setActiveTab', 'list')
        this.$nextTick(() => {
          // scrollToIndex estimates how far it will need to scroll to get the target item into the viewport.
          // if it guesses wrong (and it will), we need to try to scroll to the item again.
          // We do this until we find the item in the children of the virtual list, then do it once more
          // (because this time it will definitely know how far away it is)

          let list_index = this.search_results.findIndex(sr => sr.properties.nid === this.$store.state.active_map_active_id);
          this.$refs.result_list.scrollToIndex(list_index)
          let matching_child = false;

          let findMatchingChild = () => {
            if (!matching_child) {
              this.$refs.result_list.scrollToIndex(list_index)
              setTimeout(() => {
                matching_child = this.$refs.result_list.$children.find(c => c._props.source.properties.nid === this.$store.state.active_map_active_id)
                findMatchingChild();
              }, 100)
            }
            else {
              this.$refs.result_list.scrollToIndex(list_index)
            }
          }
          findMatchingChild();
        })
      }
    },
    label_filter_value: function() {
      if (this.isProgrammaticUpdate) {
        // console.log('this.isProgrammaticUpdate', this.isProgrammaticUpdate, 'in searchresultlist')
        this.isProgrammaticUpdate = false;
        // this.textChangeTimeout = setTimeout(() => {
        //   this.$store.commit('setFilterValue', {filter_id: 'title', new_value: this.label_filter_value})
        // }, 1);
        return;
      }

      if (this.textChangeTimeout) {
        clearTimeout(this.textChangeTimeout);
      }

      this.$store.commit('setApplyingFilters', true);
      this.textChangeTimeout = setTimeout(() => {
        this.$store.commit('setFilterValuePropagate', {filter_id: 'title', new_value: this.label_filter_value, source: 'SearchResultList'})
      }, 500);
    },
    "$store.state.filterForceUpdateCount": function() {
      // console.log('filterForceUpdateCount in SearchResultList')
      if (this.$store.state.filterForceUpdateId !== 'title') {

        // console.log('ffuc in SearchResultList, not updating due to not title')
        return;
      }
      if (this.$store.state.filterForceUpdateSource === 'SearchResultList') {
        // console.log('ffuc in SearchResultList, not updating due to same source - SearchResultList')

        return;
      }
      // console.log('ffuc in SearchResultList, all checks passed, updating')
      this.isProgrammaticUpdate = true;
      this.label_filter_value = this.$store.state.filters.title;
    }
  },
  computed: {
    num_filters_set: function() {
      let num = 0;
      this.updateNumFiltersSet; // when this changes, recalc

      Object.keys(this.$store.state.filters).forEach(filter => {
        if (filter === "year_built" || filter === "year_demolished") {
          if (this.$store.state.filters[filter][0] !== this.filter_ranges[filter][0]) {
            num++;
          }
          if (this.$store.state.filters[filter][1] !== this.filter_ranges[filter][1]) {
            num++;
          }
        }
        else if (typeof this.$store.state.filters[filter] === 'string') {
          // pass
        }
        else if (typeof this.$store.state.filters[filter] === 'undefined') {
          // pass
        }
        else if (typeof this.$store.state.filters[filter] === 'number') {
          // pass
        }
        else {
          num += this.$store.state.filters[filter].length;
        }
      })
      return num;
    },
  }
}
</script>

<style lang="scss">

@import '../css_vars.scss';


.results-list__title{
  font-size: 1.2em;
}


.results-list__virtual-scroll {

  overflow-y: scroll;
  overflow-x: hidden;
}

.virtual-scroll__wrapper {
  height: 100%;
  width: 100%;
  padding-left: $site-padding !important;
  padding-right: $site-padding !important;
}

.whereabouts-search-map__results-list {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.result-list__header {
  padding: $site-padding $site-padding calc(#{$site-padding} / 2);
}

.results-list__title {
  margin-top: 0.5rem;
}

</style>
