<template>
  <a :href="result_data.properties.url" @click="handleResultClick"
     :ref="'search-result__' + result_data.properties.nid"
     class="results-list__result result" :class="{'result--map-active': isActiveMapItem}">
    <div class="result__active-overlay" :class="{'result__active-overlay--active': isActiveListItem}"><span class="result__active-overlay-text">Click again to view full display</span></div>
    <div class="result__image">
      <img loading="lazy" :src="result_data.properties.thumbnail" :alt="'Image of ' + result_data.properties.title">
    </div>
    <div class="result__description">
      <h3 class="result__title">{{ result_data.properties.title }}</h3>
      <div class="result__address">{{ result_data.properties.address.formatted }}</div>
      <div class="result__categorization">
        <div v-if="result_data.properties.address.cross_street" class="result__cat result__cat--cross-street">
          <span class="result__cat-label">Cross Street: </span>
          <span class="result__cat-value">{{result_data.properties.address.cross_street}}</span>
        </div>
        <div v-if="result_data.properties.year_built || result_data.properties.year_demolished" class="result__cat result__cat--years">
          <span v-if="result_data.properties.year_built">
            <span class="result__cat-label">Built <span style="font-weight: normal">in </span></span>
            <span class="result__cat-value">{{result_data.properties.year_built}}</span>
          </span>
          <span v-if="result_data.properties.year_built && result_data.properties.year_demolished"> / </span>
          <span v-if="result_data.properties.year_demolished">
            <span class="result__cat-label">Demolished <span style="font-weight: normal">in </span></span>
            <span class="result__cat-value">{{result_data.properties.year_demolished}}</span>
          </span>
        </div>
        <div v-if="result_data.properties.architectural_style" class="result__cat result__cat--architectural-style">
          <span class="result__cat-label">{{ filter_labels['architectural_style'] }}: </span>
          <span class="result__cat-value">{{render_ids_to_labels('architectural_style', result_data.properties.architectural_style)}}</span>
        </div>
        <div v-if="result_data.properties.construction_type" class="result__cat result__cat--construction-type">
          <span class="result__cat-label">{{ filter_labels['construction_type'] }}: </span>
          <span class="result__cat-value">{{render_ids_to_labels('construction_type', result_data.properties.construction_type)}}</span>
        </div>
        <div v-if="result_data.properties.neighborhood" class="result__cat result__cat--neighborhood">
          <span class="result__cat-label">{{ filter_labels['neighborhood'] }}: </span>
          <span class="result__cat-value">{{render_ids_to_labels('neighborhood', result_data.properties.neighborhood)}}</span>
        </div>
        <div v-if="result_data.properties.building_type" class="result__cat result__cat--building-type">
          <span class="result__cat-label">{{ filter_labels['building_type'] }}: </span>
          <span class="result__cat-value">{{render_ids_to_labels('building_type', result_data.properties.building_type)}}</span>
        </div>
        <div v-if="result_data.properties.use" class="result__cat result__cat--use">
          <span class="result__cat-label">{{ filter_labels['use'] }}: </span>
          <span class="result__cat-value">{{render_ids_to_labels('use', result_data.properties.use)}}</span>
        </div>
        <div v-if="result_data.properties.national_register" class="result__cat result__cat--national-register">
          <span class="result__cat-label">{{ filter_labels['national_register'] }}: </span>
          <span class="result__cat-value">{{render_ids_to_labels('national_register', result_data.properties.national_register)}}</span>
        </div>
        <div v-if="result_data.properties.local_historic_district" class="result__cat result__cat--local-historic-district">
          <span class="result__cat-label">{{ filter_labels['local_historic_district'] }}: </span>
          <span class="result__cat-value">{{render_ids_to_labels('local_historic_district', result_data.properties.local_historic_district)}}</span>
        </div>
      </div>
    </div>
  </a>
</template>
<script>

export default {
  name: 'SearchResult',
  props: ['source', 'filter_labels', 'filter_options', 'using_virtual_list'],
  data: () => {
    return {
    }
  },
  components: {
  },
  created() {
  },
  methods: {
    render_ids_to_labels: function(type, ids) {
      if (!ids) {
        return "";
      }
      if (!this.filter_options) {
        return "Loading..."
      }
      // console.log('ids', ids, type, this.filter_options);
      // console.log('fitler options', typeof this.filter_options)
      return ids.map(id => {
        let taxonomy = this.filter_options.find(f_o => f_o.id === type)
        if (!taxonomy) {
          // console.log('none', type, taxonomy, ids)

          return "";
        }
        let term = taxonomy.values.find(val => val.id === id)
        if (!term) {
          // console.log('no term', type, term, ids)
          return "";
        }
        return term.label;
      }).filter(_ => !!_).join(', ');
    },
    handleResultClick: function(e) {
      if (!this.isActiveListItem && !this.isActiveMapItem) {
        e.preventDefault();
        this.setActiveListResult();
      }
      else {
        // second click, let it through;
      }
    },
    setActiveListResult: function() {
      // console.log('new over id', this.result_data.properties.nid);
      this.$store.commit('setActiveListId', this.result_data.properties.nid)
    },
    unsetActiveListResult: function() {
      // console.log('new over id', null);
      this.$store.commit('setActiveListId', null)
    }
  },
  mounted() {
  },
  watch: {
    '$store.state.active_map_active_id': function() {
      if (this.isActiveMapItem && this.using_virtual_list === false) {
        let ref_id = 'search-result__' + this.result_data.properties.nid;
        this.$refs[ref_id].scrollIntoView({behavior: 'smooth', block: 'center'});
      }
    }
  },
  computed: {
    isActiveListItem: function() {
      return this.result_data.properties.nid === this.$store.state.active_list_active_id;
    },
    isActiveMapItem: function() {
      return this.result_data.properties.nid === this.$store.state.active_map_active_id;
    },
    result_data: function() {
      return this.source;
    }
  }
}
</script>

<style lang="scss">
@import '../css_vars.scss';

.result__cat-label {
  font-weight: 600;
}


.results-list__result {
  //padding-bottom: 1em;
  //padding-top: 1em;
  //padding-left: 0.5em;
  //padding-right: 0.5em;
  padding: 1em 0.5em;
  margin: 0 -0.5em;
  position: relative;
  .virtual-scroll__item:not(:last-child) &,
  &:not(:last-child) {
    //margin-bottom: 1em;
    //border-bottom: 1px solid #ccc;
    &:before {
      position: absolute;
      content: '';
      display: block;
      bottom: 0;
      left: 0.5em;
      right: 0.5em;
      width: calc(100% - 1em);
      height: 1px;
      background: #ccc;
      clear: both;
    }
  }
}

.result {
  color: $text-color;
  text-decoration: none;
  transition: background 0.25s ease;
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  &:after {
    display: block;
    content: "";
    clear: both;
  }

  .result__title {
    transition: color 0.25s ease;
  }

  &.result--map-active,
  &:hover {
    background: rgba(0,0,0,0.03);
    text-decoration: none;

    .result__title {
      color: $accent;
    }
  }
  &.result--map-active {
    background: rgba($accent, 0.1);
  }
}

.result__title {
  margin-top: 0;
}

.result__image {
  width: 100px;
  float: left;
  margin: 0 0.5em 0.5em 0;
  position: relative;
  overflow: hidden;
  img {
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &:after {
    width: 100%;
    padding-bottom: 100%;
    content: "";
    display: block;
  }
}


.result__active-overlay {
  font-size: 20px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(255,255,255,0.85);
  transition: 0.25s ease opacity;
  z-index: 11;
}

.result__active-overlay-text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
}

.result__active-overlay--active {
  opacity: 1;
  pointer-events: initial;
}

</style>
