<template>
  <div v-if="is_loading_filters">
    <div class="loading-filters-text">
      Loading filters...
    </div>
  </div>
  <div v-else-if="!is_error_filters" class="whereabouts-search-map__filters filters">
      <div class="filters__scroll-inner">
        <div class="map-sidebar__title-search title-search">
          <div class="title-search__field">
            <label class="title-search__label">Title</label>
            <input class="title-search__input" type="text" v-model="label_filter_value">
          </div>

          <details class="filters__collapse-group-details" :open="idx === 0 && openFirstDetails" v-for="(group, idx) in filter_structure" :key="group.group_id">
            <summary class="filters__collapse-group-title">
              <span class="filters__collapse-group-title-text">{{ group.group_label }}</span>
              <span class="filters__collapse-group-icon"></span>
            </summary>
            <div class="filters__collapse-group-content">
              <search-filter
                  v-for="filter in group.children"
                             :key="filter.variable"
                  :filter_data="filter"
                  :filter_ranges="filter_ranges"
                  :filter_labels="filter_labels"
                  :filter_options="filter_options"></search-filter>
            </div>
          </details></div>
      </div>
  </div>
  <div v-else>
    There was an error loading the filters. Please try again later.
  </div>
</template>
<script>

import SearchFilter from "./SearchFilter";

export default {
  name: 'SearchFilters',
  props: ['filter_ranges', 'is_loading_filters', 'is_error_filters', 'filter_options', 'filter_labels'],
  data: () => {
    return {
      filter_structure: [
        {
          "group_label": "Location",
          "group_id": "loc_time",
          "children": [
            {
              "variable": "neighborhood",
              "type": "select",
            },
            {
              "variable": "local_historic_district",
              "type": "select",
            },
            {
              "variable": "national_register",
              "type": "select",
            }
          ]
        },
        {
          "group_label": "People & Organizations",
          "group_id": "people",
          "children": [
            {
              "variable": "architect",
              "type": "select",
            },
            {
              "variable": "builder",
              "type": "select",
            },
            {
              "variable": "related_businesses",
              "type": "select",
            },
            {
              "variable": "related_people",
              "type": "select",
            }
          ]
        },
        {
          "group_label": "Building Details & Dates",
          "group_id": "building_details",
          "children": [
            {
              "variable": "year_built",
              "label": "Year Built",
              "type": "range",
            },
            {
              "variable": "year_demolished",
              "label": "Year Demolished",
              "type": "range",
            },
            {
              "variable": "use",
              "type": "select",
            },
            {
              "variable": "architectural_style",
              "type": "select",
            },
            {
              "variable": "construction_type",
              "type": "select",
            },
          ]
        }
      ],
      label_filter_value: "",
      textChangeTimeout: null,
      isProgrammaticUpdate: false,
    }
  },
  components: {
    SearchFilter,
  },
  created() {
    // console.log('filter_options', this.filter_options);
    // console.log('is_loading_filters', this.is_loading_filters);
    this.location_data = {};
    this.filter_values = this.$store.state.default_filters_state;
    // console.log('searchfilters this.$store.state.default_filters_state[\'title\'] ', this.$store.state.default_filters_state['title'])
    this.label_filter_value = this.$store.state.default_filters_state['title'];
  },
  methods: {
  },
  mounted() {
    this.$store.commit('startListeningToFilterChanges')
  },
  watch: {
    // filter_values: {
    //   deep: true,
    //   handler(n, o) {
    //     console.log('new, old', n, o)
    //     // this.$store.commit('setFilterValue', {filter_id: this.filter_data.id, new_value: this.filter_value})
    //   }
    // },
    label_filter_value: function() {
      if (this.isProgrammaticUpdate) {
        // console.log('this.isProgrammaticUpdate', this.isProgrammaticUpdate, 'in searchfilters')
        this.isProgrammaticUpdate = false;
        // this.textChangeTimeout = setTimeout(() => {
        //   this.$store.commit('setFilterValue', {filter_id: 'title', new_value: this.label_filter_value})
        // }, 1);
        return;
      }


      if (this.textChangeTimeout) {
        clearTimeout(this.textChangeTimeout);
      }

      this.$store.commit('setApplyingFilters', true);
      this.textChangeTimeout = setTimeout(() => {
        this.$store.commit('setFilterValuePropagate', {filter_id: 'title', new_value: this.label_filter_value, source: 'SearchFilters'})
      }, 500);
    },
    "$store.state.filterForceUpdateCount": function() {
      // console.log('filterForceUpdateCount in SearchFilters')

      if (this.$store.state.filterForceUpdateId !== 'title') {
        // console.log('ffuc in SearchFilters, not updating due to not title')

        return;
      }
      if (this.$store.state.filterForceUpdateSource === 'SearchFilters') {
        // console.log('ffuc in SearchFilters, not updating due to same source - searchfilters')

        return;
      }
      // console.log('ffuc in SearchFilters, all checks passed, updating')
      this.isProgrammaticUpdate = true;
      this.label_filter_value = this.$store.state.filters.title;
    }
  },
  computed: {
    openFirstDetails: function() {
      let mq = window.matchMedia("(min-width: 901px)")
      return mq.matches;
    }
  }
}
</script>

<style lang="scss">
@import '../css_vars.scss';

.filters__collapse-group-title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 1.2em;
  $border-width: 5px;
  //border-bottom: $border-width solid $color;
  position: relative;
  padding-bottom: 5px + $border-width;
  padding-top: 5px;
  font-weight: 400;
  margin-bottom: 8px + $border-width;
  cursor: pointer;
  &:before {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $border-width;
    background-color: $accent;
    content: '';
    display: block;
  }
  &:after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $border-width;
    background-color: $accent;
    content: '';
    display: block;

    left: 50%;
    right: auto;
  }

  ::marker {
    display: none;
  }

  list-style: none;

}

$icon-size: 20px;

%icon-styles {
  height: $icon-size;
  width: $icon-size;
  display: inline-block;
  transition: transform 0.25s ease;
  mask-size: contain;
  mask-repeat: no-repeat;
  //mask-size: 100%;
  mask-position: center;
  background-color: $accent;
  z-index: 1;
  position: relative;
}

%open-icon {
  @extend %icon-styles;
  mask-image: url('../assets/plus-circle.svg');
}
%close-icon {
  @extend %icon-styles;
  mask-image: url('../assets/minus-circle.svg');
}


.filters__collapse-group-icon {
  justify-self: flex-end;
  margin-left: auto;
  transform: rotate(90deg);
  transition: transform 0.1s ease;

  @extend %open-icon;
  details[open] & {
    transform: rotate(0deg);
    @extend %close-icon;
  }
}

.whereabouts-search-map__filters {

  overflow-y: scroll;
  overflow-x: hidden;
}

.loading-filters-text {
  padding: $site-padding;
}

.filters__scroll-inner {
  padding: $site-padding;
  // extra bottom padding for last select list.
  padding-bottom: calc(#{$site-padding} + 350px);
  height: 100%;
  width: 100%;

}

</style>
