<template>
  <div class="whereabouts-search-map__sidebar map-sidebar">
    <div class="map-sidebar__tabs">
      <button class="map-sidebar__tab" :class="{'map-sidebar__tab--active': active_tab === 'filters'}" @click="setActiveTab('filters')">Filters</button>
      <button class="map-sidebar__tab" :class="{'map-sidebar__tab--active': active_tab === 'list'}" @click="setActiveTab('list')">List</button>
    </div>
    <search-filters
        class="map-sidebar__tab-content"
        v-on:change="updateValues"
        v-show="active_tab === 'filters'"
        :filter_labels="filter_labels"
        :filter_ranges="filter_ranges"
        :is_error_filters="is_error_filters"
        :is_loading_filters="is_loading_filters"
        :filter_options="filter_options" />
    <search-result-list
        class="map-sidebar__tab-content"
        v-show="active_tab === 'list'"
        :filter_options="filter_options"
        :filter_ranges="filter_ranges"
        :use_virtual_list="true"
        :filter_labels="filter_labels"
        :search_results="filtered_map_data" />

  </div>
</template>
<script>

import SearchFilters from "./SearchFilters";
import SearchResultList from "./SearchResultList";

export default {
  name: 'SearchSidebar',
  props: ['filter_ranges', 'is_loading_filters', 'filter_options', 'is_error_filters', 'filtered_map_data', 'use_virtual_list'],
  data: () => {
    return {
      results: [],
    }
  },
  components: {SearchResultList, SearchFilters},
  created() {
    this.location_data = {};
  },
  methods: {
    updateValues: function(filters) {
      this.$emit('input', filters)
    },
    setActiveTab: function(tab) {
      this.$store.commit('setActiveTab', tab);
    }
  },
  mounted() {
  },
  watch: {},
  computed: {
    active_tab: function() {
      return this.$store.state.active_tab;
    },
    filter_labels: function() {
      let labels = {};
      this.filter_options.forEach(f_o => {
        labels[f_o.id] = f_o.label
      })
      return labels
    },
  }
}
</script>

<style lang="scss">

@import '../css_vars.scss';

.map-sidebar {
  box-shadow: 1px 0 3px rgba(0,0,0,0.4);
}

.whereabouts-search-map__sidebar {
  position: absolute;
  right: 0;
  top: 0;
  //min-height: 50%;
  max-height: 100%;
  max-height: calc(100% - #{$sidebar-ext-padding} * 2);
  width: calc(#{$sidebar-size} + #{$sidebar-ext-padding});
  margin: $sidebar-ext-padding $sidebar-ext-padding $sidebar-ext-padding 0;
  z-index: 2;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  @media screen and #{$vertical-mobile-mq}  {
    position: relative;
    height: $mobile-sidebar-height;
  }
}

.map-sidebar__tabs {
  display: flex;
}

label {
  font-size: 1.2em;
}
.map-sidebar__tab {
  flex: 1 1 100px;
  border: 0;
  background: $inactive-tab-color;
  padding: calc(#{$site-padding} / 2) $site-padding;
  font-size: 1.2em;
  &:not(:last-child) {
    box-shadow: inset -2px -2px 3px rgba(0,0,0,0.2);
  }
  &:not(:first-child) {
    box-shadow: inset 2px -2px 3px rgba(0,0,0,0.2);
  }
}

.map-sidebar__tab--active {
  background: white;
  border: 0;
  box-shadow: none !important;
}
//
//.map-sidebar__scrollable {
//  overflow-y: scroll;
//  overflow-x: hidden;
//}

.map-sidebar__content {
}

.title-search__hidden-filters {
  color: $accent;
  cursor: pointer;
}

.title-search__label {
  display: block;
}



@media screen and #{$vertical-mobile-mq}  {
  .map-sidebar {
    margin: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: $mobile-sidebar-height;
    max-height: 50vh;
    bottom: 0;
    top: auto;
    overflow: hidden;
  }
  .map-sidebar--has-open-sidebar {

  }
  .map-sidebar__results,
  .map-sidebar__filters {
    flex-flow: column nowrap;
  }
  $border-shadow-allowance: 3px;

  .map-sidebar__results {
    width: 100%;
    left: 0;
    right: 0;
    top: $border-shadow-allowance;
    bottom: 0;
    .map-sidebar__scroll-container {
      width: 100%;
      height: 100%;

      box-sizing: border-box;
    }
    .map-sidebar--has-open-sidebar & {
      left: 0;
    }
  }
  .map-sidebar__filters {
    transition: top ease 0.25s;
    top: 0px;

    box-sizing: border-box;
    padding-bottom: 0px;
    .map-sidebar--has-open-sidebar & {
      top: 100%;
    }
  }
  .map-sidebar__tab {
    width: 100%;
    height: auto;
    text-align: left;
  }
  .map-sidebar__title {
    transform: none;
    position: relative;
    //padding: $sidebar-tab-padding-weighted-condensed;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  .map-sidebar__open-close-icon {
    margin-left: auto;
    transform: rotate(0deg);
    .map-sidebar__results--open & {
      transform: rotate(90deg) scaleX(-1);
    }
  }
  .map-sidebar__content {
    padding-left: $site-padding;
    padding-right: $site-padding + 10px;
  }
}

</style>
