<template>
  <div class="whereabouts-tour-map" :class="{
    'whereabouts-tour-map--loading-data': is_loading_data,
    'whereabouts-tour-map--error-data': is_error_data,
    'whereabouts-tour-map--has-message': is_loading_data || is_error_data,
  }">
    <Transition name="fade" :duration="100">
      <div v-if="is_loading_data" class="data-loading-state data-loading-state--loading">Loading map data...</div>
    </Transition>
    <Transition name="fade" :duration="100">
      <div v-if="is_error_data" class="data-loading-state data-loading-state--error">Error loading map data. Please try again later.</div>
    </Transition>
    <div class="whereabouts-tour-map__map-wrapper">
      <div class="whereabouts-tour-map__map-size-wrapper">
        <l-map :style="cssVars" class="whereabouts-tour-map__map" ref="whereabouts_tour_map"
               :options="{ zoomControl: leaflet_settings.zoomControl, zoomSnap: leaflet_settings.zoomSnap }">
          <l-control position="bottomleft" >
            <button class="geoloc-button" title="Center map on my location" @click="centerOnUser">
              <span class="location-icon"></span>
              <span class="sr-only">Center map on my location</span>
            </button>
          </l-control>
          <l-control position="bottomleft" >
            <button class="location-button" title="Center map on tour" @click="resetView">
              <span class="marker-icon"></span>
              <span class="sr-only">Center map on tour</span>
            </button>
          </l-control>
          <l-tile-layer
              :url="leaflet_settings.tileLayer.url"
              :subdomains="leaflet_settings.tileLayer.subdomains"
              :attribution="leaflet_settings.tileLayer.attribution"
              :maxZoom="leaflet_settings.tileLayer.maxZoom"
          ></l-tile-layer>
          <l-feature-group ref="whereabouts_points_feature_group">
            <l-marker v-for="(loc, idx) in tour_features.features" :key="loc.properties.nid" :lat-lng="loc.geometry.coordinates" @click="jumpToStop(idx)">
<!--              <l-icon-->
<!--                  :icon-size="icon_options.iconSize"-->
<!--                  :icon-anchor="icon_options.iconAnchor"-->
<!--                  :popup-anchor="icon_options.popupAnchor"-->
<!--                  :icon-url="icon_options.iconUrl"-->
<!--              >-->
<!--              </l-icon>-->


              <l-icon
                  :icon-anchor="icon_options.iconAnchor"
                  :class-name="'tour-marker ' + (idx == current_stop ? ' tour-marker--active' : '' )"
                  :icon-size="icon_options.iconSize"
              >
                <span class="tour-marker__pin"><span class="tour-marker__pin-text">{{ (idx + 1) }}</span></span>
              </l-icon>
            </l-marker>
          </l-feature-group>
        </l-map>
      </div>
    </div>
  </div>

</template>
<script>
import L from 'leaflet';

import "leaflet/dist/leaflet.css"

import "leaflet.markercluster/dist/MarkerCluster.css";
import "leaflet.markercluster/dist/MarkerCluster.Default.css";

import {
  LMap,
  LTileLayer,
  LMarker,
  LIcon,
  LControl,
  LFeatureGroup
} from 'vue2-leaflet';

import { Icon } from 'leaflet';
import config from "../config.json";


import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

import Vuex from 'vuex'
import markerPng from "../assets/marker.png";
import geolocPng from "../assets/geoloc.png";

Vue.use(Vuex)
Vue.use(VueAxios, axios)


delete Icon.Default.prototype._getIconUrl;
Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
});


export default {
  name: 'TourMap',
  props: ['stops_url', 'current_stop'],
  data: () => {
    return {
      tour_features: [],
      is_loading_data: false,
      is_error_data: false,
      data_call_host: window.location.host.indexOf('.') !== -1 ? window.location.origin : config.fallback_host,
      leaflet_settings: {
        zoomControl: false,
        zoomSnap: 0.1,
        tileLayer: {
          url: "https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png",
          subdomains: 'abcd',
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
          maxZoom: 20,
        }
      },
      icon_options: {
        iconUrl: markerPng,
        iconSize: [30, 40],
        iconAnchor: [15, 40],
        popupAnchor: [0, -31],
        tooltipAnchor: [0, 0],
        // shadowUrl: null,
      },
      // active_icon_options: {
      //   iconUrl: markerPng,
      //   iconSize: [45, 60],
      //   iconAnchor: [17.5, 60],
      //   popupAnchor: [0, -31],
      //   tooltipAnchor: [0, 0],
      //   // shadowUrl: null,
      // },
      geoloc_icon_options: {
        iconUrl: geolocPng,
        iconSize: [30, 30],
        iconAnchor: [15, 15],
        popupAnchor: [0, 25],
        tooltipAnchor: [0, 0],
        // shadowUrl: null,
      },
      showGeolocationOption: false,
      showingLocation: false,
      locationMarker: null,
      locationCircle: null,
      locationFeatureGroup: null,
      checkLocationInterval: null,
      viewResetTimeout: null,
    }
  },
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LControl,
    LIcon,
    LFeatureGroup,
  },
  created() {
    this.getMapData();

    if (!navigator.geolocation) {
      console.log("Your browser doesn't support the geolocation feature!");
    } else {
      this.showGeolocationOption = true;
    }
  },
  beforeDestroy() {
    this.stopWatchingLocation();
  },
  methods: {
    watchLocation: function() {
      navigator.geolocation.getCurrentPosition(this.getPosition);
      this.checkLocationInterval = setInterval(() => {
        navigator.geolocation.getCurrentPosition(this.getPosition);
      }, 5000);
    },
    stopWatchingLocation: function() {
      clearInterval(this.checkLocationInterval);
      this.checkLocationInterval = null;
    },
    toggleWatchLocation: function() {
      if (this.checkLocationInterval == null) {
        this.watchLocation();
      }
      else {
        this.stopWatchingLocation();
      }
    },
    centerOnUser: function() {
      navigator.geolocation.getCurrentPosition(this.getPosition);
    },
    jumpToStop: function(idx) {
      window.location.hash = "#tour-map-stop-" + (idx + 1);
    },
    async getMapData() {
      try {
        this.is_loading_data = true;
        // const response = await this.$http.get(this.data_call_host + this.stops_url);
        this.tour_features = JSON.parse(JSON.stringify(window.drupalSettings.whereabouts_tour_map_data));
        this.resetView();

        // console.log('response data', response.data)

      } catch (err) {
        console.log('Error on data loading:', err);
        this.is_error_data = true;
      } finally {
        this.is_loading_data = false;
      }
    },
    resetView: function(padding, timeoutLength) {
      if (typeof timeoutLength === 'undefined') {
        this.setView(padding)
      }
      else {
        clearTimeout(this.viewResetTimeout);
        this.viewResetTimeout = setTimeout(() => {
          this.setView(padding)
        }, timeoutLength)
      }
    },
    setView: function (padding) {
      if (typeof padding === 'undefined') {
        padding = [30, 30];
      }
      // bounds = bounds || L.latLngBounds(L.latLng(this.start_bounds[0][0], this.start_bounds[0][1]), L.latLng(this.start_bounds[1][0], this.start_bounds[1][1]))
      this.$nextTick(() => {
        // console.log('set view, padding', padding);
        this.$refs.whereabouts_tour_map.mapObject.invalidateSize();
        const featureGroup = this.$refs.whereabouts_points_feature_group.mapObject
        this.$refs.whereabouts_tour_map.mapObject.fitBounds(featureGroup.getBounds(), {padding: padding});
      });
    },
    getLocData: function(active_location) {
      return Object.keys(active_location)
          .map(key => {return {'name': key, 'value': active_location[key]};})
    },
    latlng: L.latLng,
    clusterIconCreateFunction: function(cluster) {
      const childCount = cluster.getChildCount();
      return new L.DivIcon({ html: '<div><span>' + childCount + '</span></div>', className: 'marker-cluster marker-cluster-medium', iconSize: new L.Point(40, 40) });
    },
    getPosition(position) {
      // console.log(position)
      let lat = position.coords.latitude;
      let long = position.coords.longitude;
      let accuracy = position.coords.accuracy;

      if (this.locationFeatureGroup) {
        this.$refs.whereabouts_tour_map.mapObject.removeLayer(this.locationFeatureGroup);
      }

      // if (this.locationMarker) {
      //   this.$refs.whereabouts_tour_map.mapObject.removeLayer(this.locationMarker);
      // }
      //
      // if (this.locationCircle) {
      //   this.$refs.whereabouts_tour_map.mapObject.removeLayer(this.locationCircle);
      // }


      this.locationMarker = L.marker([lat, long], {icon: L.icon(this.geoloc_icon_options)});
      this.locationCircle = L.circle([lat, long], { radius: accuracy });

      this.locationFeatureGroup = L.featureGroup([this.locationMarker, this.locationCircle]).addTo(this.$refs.whereabouts_tour_map.mapObject);

      this.$refs.whereabouts_tour_map.mapObject.fitBounds(this.locationFeatureGroup.getBounds())
    }

  },
  mounted() {
    this.resetView();


    let map = this.$refs.whereabouts_tour_map.mapObject;
    map.scrollWheelZoom.disable();
    let scroll_tip_vanish_timeout = undefined
    let replace_leaflet_scroll_handler = (event) => {
      event.stopPropagation();
      if (event.ctrlKey === true) {
        event.preventDefault();
        map.scrollWheelZoom.enable();
        map._container.classList.remove('map-scroll');
        setTimeout(() => {
          map.scrollWheelZoom.disable();
        }, 1000);
      } else {
        map.scrollWheelZoom.disable();
        map._container.classList.add('map-scroll');
        clearTimeout(scroll_tip_vanish_timeout);
        scroll_tip_vanish_timeout = setTimeout(() => {
          map._container.classList.remove('map-scroll');
        }, 2000);
      }
    }
    this.$refs.whereabouts_tour_map.$el.addEventListener('DOMMouseScroll', replace_leaflet_scroll_handler);
    this.$refs.whereabouts_tour_map.$el.addEventListener('mousewheel', replace_leaflet_scroll_handler);

    let window_scroll_handler = () => {
      map._container.classList.remove('map-scroll');
    };

    document.addEventListener('DOMMouseScroll', window_scroll_handler)
    document.addEventListener('mousewheel', window_scroll_handler)

    // reset view on resize

    const resizeObserver = new ResizeObserver((entries) => {
      for (const entry of entries) {

        let height;
        if (entry.contentBoxSize) {
          // Firefox implements `contentBoxSize` as a single content rect, rather than an array
          const contentBoxSize = Array.isArray(entry.contentBoxSize) ? entry.contentBoxSize[0] : entry.contentBoxSize;
          height = contentBoxSize.blockSize;
        } else {
          height = entry.contentRect.height;
        }


        if (height < 240) {
          this.resetView([20, -90], 200)
        }
        else {
          this.resetView([30, 30], 200)
        }
      }
    });

    resizeObserver.observe(this.$refs.whereabouts_tour_map.$el);

    this.$refs.whereabouts_tour_map.$el.addEventListener('resize', () => {
      if (this.$refs.whereabouts_tour_map.$el.getBoundingClientRect().height < 240) {
        this.resetView([20, -90], 200)
      }
      else {
        this.resetView([30, 30], 200)
      }
    })

  },
  watch: {
    current_stop() {

    }
  },
  computed: {
    cssVars() {
      return {
        '--icon-width': this.icon_options.iconSize[0] + 'px',
        '--icon-height': this.icon_options.iconSize[1] + 'px',
        // '--active-icon-width': this.active_icon_options.iconSize[0] + 'px',
        // '--active-icon-height': this.active_icon_options.iconSize[1] + 'px'
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../node_modules/leaflet/dist/leaflet.css";

@import '../css_vars.scss';

$icon-width: var(--icon-width);
$icon-height: var(--icon-height);
//$active-icon-width: var(--active-icon-width);
//$active-icon-height: var(--active-icon-height);

.whereabouts-tour-map {
  display: block;
  width: 100%;
  max-width: 100%;
  //height: 500px;
  //height: min(70vw, 500px, 100%);
  height: 100%;
  max-height: 100%;
  position: relative;

}
.whereabouts-tour-map__map-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.whereabouts-tour-map__map-size-wrapper {
  position: absolute !important;
  &[style] {
    position: absolute !important;
  }
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}


.whereabouts-tour-map__map {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.whereabouts-tour-map__tour-button {
  text-align: center;
  padding: 8px 0;
}


.whereabouts-tour-map {
  background: white;
}


.tour-marker__pin {
  opacity: 0.8;
  transition: transform 0.5s ease;
  transition-property: transform, opacity;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;

  &:before {
    border-radius: 50%;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background: $accent;
    opacity: 1;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    //height: 100%;
    border-left: transparent calc(#{$icon-width} / 2 * 0.9) solid;
    border-right: transparent calc(#{$icon-width} / 2 * 0.9) solid;
    border-top: $accent calc(#{$icon-height} * 0.49) solid;
    border-bottom: 0;
  }
  //&.tour-marker--active {
  //  &:after {
  //    border-left: transparent calc(#{$active-icon-width} / 2 * 0.8) solid;
  //    border-right: transparent calc(#{$active-icon-width} / 2 * 0.8) solid;
  //    border-top: $accent calc(#{$active-icon-height} * 0.4) solid;
  //  }
  //}
  > .tour-marker__pin-text {
    position: absolute;
    top: calc(#{$icon-width} / 2);
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 33;
    font-size: 18px;
    transition: top ease 0.2s;
    transition-property: font-size, top;
  }
  //&.tour-marker--active {
  //  > span {
  //    top: calc(#{$active-icon-width} / 2);
  //    font-size: 22px;
  //  }
  //}
}

.tour-marker--active {
  .tour-marker__pin {
    opacity: 1;
    transform: scale(1.3);
    transform-origin: center bottom;
  }
}

.data-loading-state {
  position: absolute;
  font-size: 2em;
  line-height: 1.1;
  color: $text-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  //max-width: 500px;
  padding: 20px;
}

$icon-size: 22px;

%icon-styles {
  height: $icon-size;
  width: $icon-size;
  display: inline-block;
  transition: transform 0.25s ease;
  mask-size: contain;
  mask-repeat: no-repeat;
  //mask-size: 100%;
  mask-position: center;
  background-color: $accent;
  z-index: 1;
  position: relative;
}

%location-icon {
  @extend %icon-styles;
  mask-image: url('../assets/location.svg');
  background-color: #222;
}

.location-icon {
  @extend %location-icon;
}

%marker-icon {
  @extend %icon-styles;
  mask-image: url('../assets/location-pin-solid.svg');
  background-color: #444;
}

.marker-icon {
  @extend %marker-icon;
}

.location-button,
.geoloc-button {
  cursor: pointer;
  background-color: white;
  border: 1px solid #999;
  padding: 6px;
  margin: 0;
  border-radius: 2px;
  height: $icon-size;
  box-sizing: content-box;
}


.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/* map animations */
.fade-enter-to, .fade-leave {
  opacity: 1;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
  transition-property: opacity, height, max-height;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}


.spinner {
  border: 5px solid #333;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: transparent;
  display: block;
  animation: spin 1s infinite cubic-bezier(.27,.62,.76,.35);
  border-bottom-color: transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.whereabouts-tour-map__map {
  &:before,
  &:after {
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    position: absolute;
  }

  &:before {
    content: 'Use ctrl + scroll to zoom the map';
    top: 50%;
    left: 50%;
    z-index: 999;
    font-size: 34px;
    padding: 20px;
    max-width: 100%;
    transform: translate(-50%, -50%);
  }

  &:after {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: '';
    background: #000000;
    z-index: 999;
  }
}



.whereabouts-tour-map__map.map-scroll:before {
  opacity: 1;
  .whereabouts-tour-map--has-message & {
    opacity: 0;
  }
}

.whereabouts-tour-map__map.map-scroll:after {
  opacity: 0.2;
  .whereabouts-tour-map--has-message & {
    opacity: 0;
  }
}

</style>
