<template>
  <div class="whereabouts-search-map" :class="{
    'whereabouts-search-map--loading-data': is_loading_data,
    'whereabouts-search-map--loading-markers': is_loading_markers,
    'whereabouts-search-map--error-data': is_error_data,
    'whereabouts-search-map--has-message': is_loading_data || is_loading_markers || is_error_data,
  }">
    <Transition name="fade" :duration="100">
      <div v-if="is_loading_data" class="data-loading-state data-loading-state--loading">Loading map data...</div>
    </Transition>
    <Transition name="fade" :duration="100">
      <div v-if="is_loading_markers" class="data-loading-state data-loading-state--markers">Loaded {{num_markers_loaded}} of {{num_markers_to_load}} locations</div>
    </Transition>
    <Transition name="fade" :duration="100">
      <div v-if="is_error_data" class="data-loading-state data-loading-state--error">Error loading map data. Please try again later.</div>
    </Transition>
    <Transition name="fade" :duration="100">
      <div v-if="is_applying_filters" class="data-loading-state data-loading-state--loading-new-filters"><div class="spinner"></div></div>
    </Transition>
    <SearchMap :default_lat="default_lat" :default_lng="default_lng" :default_zoom="default_zoom" :filtered_map_data="filtered_map_data" :map_locations_full="map_data"/>
    <SearchSidebar :filter_ranges="filter_ranges" :use_virtual_list="use_virtual_list" :is_loading_filters="is_loading_filters" :filter_options="filter_options" :is_error_filters="is_error_filters" :filtered_map_data="filtered_map_data"/>
  </div>
</template>
<script>
import config from '../config.json'

import SearchMap from './SearchMap.vue'
import SearchSidebar from './SearchSidebar.vue'


import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
import {parseYearInt} from "../utilities";

import Vuex from 'vuex'

Vue.use(Vuex)
Vue.use(VueAxios, axios)

// Create a new store instance.
const store = new Vuex.Store({
  state () {
    return {
      active_list_active_id: null,
      active_map_active_id: null,
      active_tab: null,
      is_loading_markers: false,
      num_markers_loaded: 0,
      num_markers_to_load: 0,
      filters: [],
      listen_to_filter_changes: false,
      default_filters_state: [],
      filterForceUpdateCount: 0,
      filterForceUpdateId: null,
      filterForceUpdateSource: null,
      applyingFilters: false,
      zoomTo: 'full',
      zoomToWatchable: 0,
    }
  },
  mutations: {
    setZoomTo (state, newval) {
      state.zoomTo = newval;
      state.zoomToWatchable += 1;
    },
    setActiveListId (state, id) {
      state.active_list_active_id = id
    },
    setActiveTab (state, tab) {
      state.active_tab = tab
    },
    setActiveMapId (state, id) {
      state.active_map_active_id = id
    },
    setIsLoadingMarkers (state, isLoading) {
      state.is_loading_markers = isLoading;
    },
    setNumMarkersLoaded (state, num) {
      state.num_markers_loaded = num
    },
    setNumMarkersToLoad (state, num) {
      state.num_markers_to_load = num
    },
    stopListeningToFilterChanges(state) {
      state.listen_to_filter_changes = false
    },
    startListeningToFilterChanges(state) {
      state.listen_to_filter_changes = true
    },
    setDefaultFilters (state, default_filters) {
      let prev_filter_listen_state = state.listen_to_filter_changes;
      state.listen_to_filter_changes = false;
      state.filters = default_filters;
      state.filters['triggerFilterChange'] = 0;
      state.default_filters_state = state.filters;
      state.listen_to_filter_changes = prev_filter_listen_state;
    },
    resetFiltersToDefault (state) {
      state.filters = state.default_filters_state
    },
    setFilterValue (state, filter_update) {
      state.filters[filter_update['filter_id']] = filter_update['new_value'];
    },
    setApplyingFilters (state, new_val) {
      state.applyingFilters = new_val;
    },
    setFilterValuePropagate (state, filter_update) {
      // console.log('setFilterValuePropagate', filter_update);
      state.filterForceUpdateId = filter_update['filter_id'];
      state.filterForceUpdateCount++;
      state.filterForceUpdateSource = filter_update['source']

      this.commit('setFilterValue', filter_update)
    },
  },
  getters: {
    hover_location: (state) => (map_data) => {
      return map_data.find(md => md.id === state.active_list_active_id);
    }
  }
})


export default {
  name: 'WhereaboutsSearch',
  props: ['default_active_tab', 'default_lat', 'default_lng', 'default_zoom', 'default_use_virtual_list'],
  store: store,
  data: () => {
    const current_year = new Date().getFullYear();
    return {
      active_id: null,
      active_location: {},
      is_loading_filters: true,
      is_error_filters: false,
      is_loading_data: true,
      is_error_data: false,
      title_search_nids: false,
      map_data: {},
      some_filters: [], // 'architectural_style', 'neighborhood', 'use', 'building_type', 'construction_type', 'national_register', 'local_historic_district'
      use_virtual_list: true,
      // default_bounds_processed: null,
      filtered_map_data: [],
      location_template: config.location_template,
      default_filters: {
        title: "",
        year_built: [config.start_year_ranges, current_year],
        year_demolished: [config.start_year_ranges, current_year],
      },
      filter_options: [],
      filter_ranges: {
        year_built: [config.start_year_ranges, current_year],
        year_demolished: [config.start_year_ranges, current_year],
      },
      data_call_host: window.location.host.indexOf('.') !== -1 ? window.location.origin : config.fallback_host,
    }
  },
  components: {
    SearchMap,
    SearchSidebar,
  },
  created() {
    this.location_data = {};
    this.getFilterOptions();
    this.getMapData();
    this.use_virtual_list = this.default_use_virtual_list || this.use_virtual_list;
    this.$store.commit('setActiveTab', this.default_active_tab || "filters");
    // this.default_bounds_processed = this.default_bounds || "[[36.0636, -78.9875], [35.9532, -78.8122]]";
    this.$store.commit('setDefaultFilters', this.default_filters);

    this.unsubscribeFilters = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'setFilterValue') {
        if (state.listen_to_filter_changes) {
          this.filterMapData();
        }
        else {
          // console.log('ignoring filter state change');
        }
      }
    })
  },
  beforeDestroy() {
    this.unsubscribeFilters()
  },
  methods: {
    async getFilterOptions() {
      try {
        this.is_loading_filters = true;
        const filters_response = await this.$http.get(this.data_call_host + config.filters_path);
        const node_filters_response = await this.$http.get(this.data_call_host + config.node_filters_path);
        this.filter_options = [...filters_response.data.filters, ...node_filters_response.data.filters];
        this.filter_options.forEach(filter_option => {
          this.default_filters[filter_option.id] = [];
          this.some_filters.push(filter_option.id)
        })
        this.$store.commit('setDefaultFilters', this.default_filters);
      } catch (err) {
        this.is_error_filters = true;
      } finally {
        this.is_loading_filters = false;
      }
    },
    async getMapData() {
      try {
        this.is_loading_data = true;
        const response = await this.$http.get(this.data_call_host + config.dataset_path);
        // console.log('response.data.features', response.data.features)
        this.map_data = response.data.features
        // console.log('this.map_data', this.map_data)
        // console.log('output', JSON.parse(JSON.stringify(output)))
        // console.log('output str', JSON.stringify(output))

        // let shortened_data = response.data.features;
        // shortened_data = shortened_data.slice(0,50);
        // console.log('shortened data', shortened_data);
        // this.map_data = shortened_data;

        this.default_filters.year_built[0] = this.start_year_built;
        this.filter_ranges.year_built[0] = this.start_year_built;

        this.default_filters.year_demolished[0] = this.start_year_demolished;
        this.filter_ranges.year_demolished[0] = this.start_year_demolished;

        this.$store.commit('setFilterValuePropagate', {filter_id: 'year_demolished', new_value: [this.start_year_demolished, this.filter_ranges.year_demolished[1]]});
        this.$store.commit('setFilterValuePropagate', {filter_id: 'year_built', new_value: [this.start_year_built, this.filter_ranges.year_built[1]]});

        this.default_filters.title = this.urlTitleSearch;

        this.$store.commit('setDefaultFilters', this.default_filters);

        Object.freeze(this.map_data);

        this.loadTitleSearchFromUrl();
        this.filterMapData()
      } catch (err) {
        console.log('Error on data loading:', err);
        this.is_error_data = true;
      } finally {
        this.is_loading_data = false;
      }
    },
    filterMapData: async function() {
      if (!this.map_data
          || this.map_data.length === 0
          || Object.keys(this.map_data).length === 0
          || this.is_loading_markers
          || this.is_loading_data) {
        return;
      }
      this.filtered_map_data = this.map_data.filter(loc => {
        if (!this.locationSearchMatch(loc.properties.search_index, this.$store.state.filters.title)) {
          return false;
        }
        if (!this.yearInRange(loc.properties.year_built, this.$store.state.filters.year_built, this.filter_ranges.year_built)) {
          return false;
        }
        if (!this.yearInRange(loc.properties.year_demolished, this.$store.state.filters.year_demolished, this.filter_ranges.year_demolished)) {
          return false;
        }
        if (
          this.some_filters.some(filterName => {
            if (this.$store.state.filters[filterName].length === 0) {
              return false; // no value in filter, don't filter on 3this, false here will result in false on some_filters.some
            }
            if (!loc.properties[filterName] || loc.properties[filterName].length === 0) {
              return true; // no value on item but value on filter, remove
            }
            return !this.$store.state.filters[filterName].some((selected_filter) => loc.properties[filterName].indexOf(selected_filter) !== -1)
          })
        ) {
          // console.log('removing item', loc);
          return false;
        }
        return true;
      });
      this.filtered_map_data.sort((loc_a, loc_b) => {
        return this.locationSearchMatchSimilarity(loc_b.properties.search_index, this.$store.state.filters.title)
            - this.locationSearchMatchSimilarity(loc_a.properties.search_index, this.$store.state.filters.title)
      })

      if (this.map_data.length === this.filtered_map_data.length || this.filtered_map_data.length === 0) {
        this.$store.commit('setZoomTo', 'full')
      }
      else {
        this.$store.commit('setZoomTo', 'results')
      }
      this.$store.commit('setApplyingFilters', false);
      // if (this.$store.state.filters.title.length > 0) {
      //   this.zoomToResults()
      // }
      // else {
      //
      // }
      // this.filterMapDataTitle(() => {
      //   if (typeof cb === 'function') {
      //     cb();
      //   }
      //   this.$store.commit('setApplyingFilters', false);
      // });
    },
    // filterMapDataTitle: async function(cb) {
    //   if (this.$store.state.filters.title.length < 3) {
    //     cb();
    //     return;
    //   }
    //
    //   const strip_punct_regex = /[^\w\s']|_/g;
    //
    //   const request_url = new URL(config.title_search_path, this.data_call_host)
    //   const request_params = new URLSearchParams({'search': this.$store.state.filters.title.toLowerCase().replace(strip_punct_regex, "")});
    //
    //   const filters_response = await this.$http.get(`${request_url}?${request_params}`);
    //   this.title_search_nids = filters_response.data.map(r => r.nid);
    //   this.filtered_map_data = this.filtered_map_data.filter(loc => this.title_search_nids.includes(loc.properties.nid));
    //   // console.log('about to run callback')
    //   if (typeof cb === 'function') {
    //     cb();
    //   }
    // },
    locationSearchMatch: function(loc_search_index, search_terms) {
      // console.log('location properties vs search terms', loc_search_index, search_terms);
      return this.locationSearchMatchSimilarity(loc_search_index, search_terms, false)
    },
    locationSearchMatchSimilarity: function(loc_search_index, search_terms, check_full_similarity) {
      if (typeof check_full_similarity === 'undefined') {
        check_full_similarity = true;
      }
      if (search_terms.length < 1) {
        return true;
      }
      const search_terms_exploded = search_terms.toLowerCase().replaceAll("'", '').replaceAll(/([^\w]|_)+/ig, ' ').split(' ').filter(s => s.length > 0)
      const loc_searchable_exploded = this.arrayifySearchTerms(loc_search_index)

      // console.log('search_terms_exploded', search_terms_exploded);
      let similarity = 0;
      search_terms_exploded.forEach((currentValue, index) => {
        if (!check_full_similarity && similarity >= 1) {
          return;
        }
        const full_term_index_in_search_index = loc_searchable_exploded.indexOf(currentValue);
        const partial_term_index_in_search_index = this.partialStringSearchInArray(loc_searchable_exploded, currentValue);

        // console.log('full_term_index_in_search_index', full_term_index_in_search_index)
        // console.log('partial_term_index_in_search_index', partial_term_index_in_search_index)

        if (partial_term_index_in_search_index !== -1) {
          similarity += 1;
          if (full_term_index_in_search_index !== -1) {
            similarity += 1;
          }
          if (check_full_similarity) {
            let rec_check_next = function(search_terms, search_term_idx, loc_searchable, loc_searchable_idx, similar_count) {
              if (search_term_idx >= search_terms.length - 1 || loc_searchable_idx >= loc_searchable.length - 1) {
                return similar_count;
              }
              // console.log('reccheck', search_terms, search_term_idx, loc_searchable, loc_searchable_idx)
              // console.log('search_terms.length', search_terms.length)
              // console.log('loc_searchable.length', search_terms.length)
              if (loc_searchable[loc_searchable_idx + 1].indexOf(search_terms[search_term_idx + 1]) !== -1) {
                similar_count += 1;
                if (search_terms[search_term_idx + 1] === loc_searchable[loc_searchable_idx + 1]) {
                  similar_count += 2;
                }

                return rec_check_next(search_terms, search_term_idx + 1, loc_searchable, loc_searchable_idx + 1, similar_count)
              }
              return similar_count;
            }
            similarity = rec_check_next(search_terms_exploded, index, loc_searchable_exploded, partial_term_index_in_search_index, similarity);
          }
        }
      })

      if (similarity > 0) {
        // console.log('similarity', similarity, 'on these arrays', search_terms_exploded, loc_searchable_exploded)
        return true;
      }
      return false;
    },
    partialStringSearchInArray: function(haystack, needle) {
      let result_idxs = [];
      haystack.forEach((term, idx) => {
        if (term.indexOf(needle) !== -1) {
          result_idxs.push(idx);
        }
      });
      if (result_idxs.length === 0) {
        return -1;
      }
      else {
        //todo: maybe in future do further multiple term searches.
        return result_idxs[0];
      }
    },
    arrayifySearchTerms: function(data) {
      if (Array.isArray(data)) {
        return data;
      }
      else {
        return Object.values(data);
      }
    },
    yearInRange: function(year, yearFilterRange, yearAllowedRange) {
      const iYear = parseYearInt(year);
      if (yearAllowedRange[0] === yearFilterRange[0] && yearAllowedRange[1] === yearFilterRange[1]) {
        return true;
      }
      if (!iYear) {
        // already checked to see if the ranges are default. if we don't have the year on the item, drop it.
        return false;
      }
      return iYear >= yearFilterRange[0] && iYear <= yearFilterRange[1]
    },
    loadTitleSearchFromUrl: function() {
      let search = this.urlTitleSearch;
      if (search) {
        this.$store.commit('setFilterValuePropagate', {filter_id: 'title', new_value: search})
      }
    },
  },
  mounted() {
    this.loadTitleSearchFromUrl();
  },
  watch: {
    is_loading_markers: function() {
      this.filterMapData();
    },
    start_year_demolished() {
      this.filter_ranges.year_demolished[0] = this.start_year_demolished;
    },
    start_year_built() {
      this.filter_ranges.year_built[0] = this.start_year_built;
    }
  },
  computed: {
    urlTitleSearch: function() {
      const urlParams = new URLSearchParams(window.location.search);
      const search = urlParams.get('search');
      if (search) {
        return search;
      }
      else {
        return "";
      }
    },
    start_year_demolished: function() {
      if (this.map_data && Object.keys(this.map_data).length > 0) {
        return Math.min(...this.map_data.map(feature => feature.properties.year_demolished ? parseYearInt(feature.properties.year_demolished, "first") : undefined).filter(Number.isFinite))
      }
      return 1800
    },
    start_year_built: function() {
      if (this.map_data && Object.keys(this.map_data).length > 0) {
        return Math.min(...this.map_data.map(feature => feature.properties.year_built ? parseYearInt(feature.properties.year_built, "first") : undefined).filter(Number.isFinite))
      }
      return 1800
    },
    is_loading_markers: function() {
      return this.$store.state.is_loading_markers;
    },
    num_markers_to_load: function() {
      return this.$store.state.num_markers_to_load;
    },
    num_markers_loaded: function() {
      return this.$store.state.num_markers_loaded;
    },
    is_applying_filters: function() {
      return this.$store.state.applyingFilters;
    },
    state_filters: function() {
      return this.$store.state.filters;
    }
  }
}
</script>

<style lang="scss">
@import '../css_vars.scss';

.whereabouts-search-map {
  height: 70vh;
  //min-height: 700px;
  min-height: 500px;
  max-height: min(700px, 70vh);
  width: 100%;
  position: relative;
  color: var(--text-color);
  box-sizing: border-box;

  @media screen and #{$vertical-mobile-mq}  {
    min-height: unset;
    max-height: none;
    height: auto;
  }
}

.whereabouts-search-map {
  font-family: $sans-serif;
}

.whereabouts-search-map * {
  box-sizing: border-box;
}

.data-loading-state {
  position: absolute;
  font-size: 2em;
  line-height: 1.1;
  color: $text-color;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 200;
  max-width: 500px;
  text-align: center;
  @media screen and #{$vertical-mobile-mq}  {
    top: 175px; // half of map height, see css_vars.scss.
    left: 50%;
    max-width: 90%;
    width: 500px;
    font-size: 1.5em;
  }
}

/*whereabouts-search-map .vue-slider {*/
/*  box-sizing: content-box;*/
/*}*/



/* map animations */
.fade-enter-to, .fade-leave {
  opacity: 1;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
  transition-property: opacity, height, max-height;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}


.spinner {
  border: 5px solid #333;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: transparent;
  display: block;
  animation: spin 1s infinite cubic-bezier(.27,.62,.76,.35);
  border-bottom-color: transparent;
  @media screen and #{$vertical-mobile-mq}  {
    width: 100px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

</style>
