img {
  width: 100%;
  height: auto;
}

footer {
  img {
    width: auto;
  }
}

.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;


  .toolbar-fixed & {
    min-height: calc(100vh - 39px);
  }
  .toolbar-fixed.gin--horizontal-toolbar & {
    min-height: calc(100vh - 53px);
  }
  .toolbar-fixed.gin--horizontal-toolbar.toolbar-vertical & {
    min-height: calc(100vh - 39px);
  }
  .toolbar-tray-open.toolbar-horizontal & {
    min-height: calc(100vh - 79px);
  }
}

.header, .main-content, .footer {
  flex: 1;
}


.header, .footer {
  flex-grow: 0;
}

.main-content {
  flex-grow: 1;
}
