.footer {
  background-color: $footer_background;
  margin-top: $site-padding * 5;

  a, a:visited {
    color: $primary;
  }

  .region-footer-third ul {
    text-align: right;
    text-transform: uppercase;
  }
}

.footer__wrapper {
  @include content-margins;
  @include full-content-wrapper;
  padding: 0 $site-padding;
  width: $full-vw;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex: 1 1 0px;
  flex-flow: row wrap;
  justify-content: space-between;
}

.region-footer-first,
.region-footer-second,
.region-footer-third {
  flex: 1 1 300px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.region-footer-second {
  text-align: center;
}

#block-masquerade h2 {
  font-size: 20px;
  margin-bottom: 0;
}
