$header-bar-height: calc(#{$site-padding} + #{$font-size});

.header__menu {
  width: 100%;
  background-color: $accent;
  min-height: $header-bar-height;
  position: relative;
}


.region-main-menu {
  @include full-content-wrapper();

  color: white;

  .menu {
    display: flex;
    color: white;
    margin: 0 $site-padding * -1;


  }
  .menu-item {
    padding: 0;
    margin: 0;
    &.menu-item--active-trail a {
      color: white;
      border-bottom: $site-padding * 4/16 solid white;
    }
    a {
      color: white;
      font-weight: bold;
      display: inline-block;
      padding: $site-padding / 2 $site-padding ($site-padding / 2) - ($site-padding * 4/16);
      border-bottom: $site-padding * 4/16 solid transparent;
      text-transform: uppercase;
      @include nt($prop: border-color);

      &:hover,
      &:focus {
        border-bottom: $site-padding * 4/16 solid rgba(255,255,255,0.6);
        text-decoration: none;
        color: white;
      }
      &.active,
      &.is-active {
        color: white;
        border-bottom: $site-padding * 4/16 solid white;
      }
    }
  }

  .menu--main .mobile-only {
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  @media screen and (max-width: 767px) {

    .menu--main {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;

      min-height: $header-bar-height;
    }

    .menu {
      flex-flow: column nowrap;
      background-color: white;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
      position: absolute;
      top: 100%;
      right: 0;
      //width: 100%;
      //left: 0;
      transition: opacity 0.2s ease;
      z-index: 999999;
    }
    .menu__mobile-opener + .menu {
      opacity: 0;
      pointer-events: none;
    }
    .menu__mobile-opener--open + .menu {
      opacity: 1;
      pointer-events: auto;
    }

    .menu-item {
      a {
        color: $accent;
        padding: $site-padding / 2 $site-padding;
        width: 100%;
        border: 0;

      }
      &.menu-item--active-trail a,
      a:hover,
      a.active-path,
      a.active {
        color: $accent;
        text-decoration: underline;
        border: 0;
      }
    }
  }
}

.header__content {
  display: flex;
  @include full-content-wrapper();
  padding-top: $site-padding;
  padding-bottom: $site-padding;
  align-items: flex-end;
  flex-flow: row wrap;

  @media (max-width: 767px) {
    p {
      margin: 0;
    }

    .form-item {
      margin-top: 0;
      margin-bottom: 0;
    }

    .block-views-exposed-filter-blockwhereabouts-search-page-header-search {
      max-width: 59%;
      @media (max-width: 767px) {
        max-width: 100%;
        margin-left: $site-padding / 2;
      }
      //.form-submit {
      //  top: 14px;
      //}
    }
  }
}

//.header__mobile-search {
//  flex: 1 1 100%;
//  display: none;
//  padding-top: $site-padding;
//  @media (max-width: 767px) {
//    display: block;
//    //input {
//    //  width: 100%;
//    //}
//    .block-views-exposed-filter-blockwhereabouts-search-page-header-search {
//      width: 100%;
//      max-width: 100%;
//    }
//    .form-item {
//      width: 100%;
//      max-width: 100%;
//    }
//    .region-header > .block-block-content {
//      display: none;
//    }
//    .region-header > .block-views {
//      display: block;
//    }
//  }
//}
//
//.header__search {
//  display: block;
//  @media (max-width: 767px) {
//    .region-header > .block-block-content {
//      display: block;
//    }
//    .region-header > .block-views {
//      display: none;
//    }
//  }
//}

.header__branding {
  flex: 1 1 200px;
  max-width: min(300px, 40vw);
}
.header__right {
  flex: 9999 1 40%;
  @media (max-width: 767px) {
    flex: 1 1 40%;
    max-width: 50%;
    margin-left: auto;
  }
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-flow: column nowrap;
  gap: $site-padding / 2;

  @media (max-width: 767px) {
    gap: 0;
  }

  .menu--account {
    .menu {
      display: flex;
      flex-flow: row wrap;
      margin: $site-padding / 2 $site-padding * -1 0;
      justify-content: flex-end;

      @media (max-width: 767px) {
        margin-top: 0;
      }
    }

    .menu-item {
      padding: 0;
      margin: 0;
    }
    a {
      color: $text-color;
      padding: $site-padding / 2 $site-padding;
      display: block;
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }

  p,
  .form-item {
    margin: 0;
  }

  @media (max-width: 767px) {
    align-items: flex-end;
    .menu--account .menu {
      margin: 0 $site-padding / -2;
      display: none;
    }
    a,
    .menu--account a {
      padding-left: $site-padding / 2;
      padding-right: $site-padding / 2;
    }
  }
}

.site-logo {
  display: block;
  img {
    display: block;
    max-width: min(300px, 40vw);
  }
}

$header-icon-color: white;

.menu__mobile-opener {
  height: $header-bar-height;
  width: $header-bar-height;
  //margin: $site-padding / -4;
  padding: 6px 6px;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  background: 0;
  float: right;
  position: relative;
  right: 0;
  top: 0;
  .lines {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    pointer-events: none;
  }

  .line {
    transition: transform 0.2s ease;
    transition-property: transform, opacity;
    width: 100%;
    height: 3px;
    background-color: $header-icon-color;
    display: block;
    left: 0;
    position: absolute;
    opacity: 1;
    &.line--1 {
      top: 0;
      left: 0;
    }
    &.line--2 {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
    &.line--3 {
      bottom: 0;
      left: 0;
    }
  }

  &.menu__mobile-opener--open {
    .line.line--1 {
      top: 50%;
      transform: translateY(-50%) rotate(-45deg) scaleX(1.3);
      transform-origin: center center;
    }
    .line.line--2 {
      opacity: 0;
    }
    .line.line--3 {
      transform-origin: center center;
      top: 50%;
      transform: translateY(-50%) rotate(45deg) scaleX(1.3);
    }
  }


  display: none;
  @media screen and (max-width: 767px) {
    display: block;
  }
}
