.page-title {
  text-transform: uppercase;
}

.field--name-field-media-featured-image img {
  width: 100%;
  height: auto;
}

.region_title {
  border: 5px $accent solid;
}

.node--unpublished {
  background: none;
}

.info-box {
  $inline-teaser-image-size: 500px;

  @include content-margins($scale: 2);
  @include full-content-wrapper();
  width: $full-vw;
  margin-left: 50%;
  transform: translateX(-50%);

  .node--view-mode-inline-teaser--embed & {
    //width: calc(#{$full-vw} - 200px);
    @include mid-content-wrapper();
    margin-left: 50%;
  }

  .info-box__info-wrapper {
    flex: 99999 1 $inline-teaser-image-size;
    padding: 0 $site-padding / 2;
    min-height: $inline-teaser-image-size/2;
  }

  .info-box__flex {
    display: flex;
    flex-flow: row-reverse wrap;
  }

  .info-box__geolocation {
    flex: 6 1 $inline-teaser-image-size;
    padding: 0 $site-padding / 2;
    position: relative;

    &:before {
      content: "";
      display: block;


      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      mask-size: 50%;
      mask-repeat: no-repeat;
      mask-position: center;
      content: "";
      overflow: hidden;
      width: 80%;
      height: 80%;
      display: block;

      background-color: $accent_background;

      .node--type-tour & {
        background-color: $accent_tour_background;
      }
    }
  }

  &.info-box--building .info-box__geolocation:before {
    mask-image: url(../images/landmark.svg);
  }
  &.info-box--business .info-box__geolocation:before {
    mask-image: url(../images/pennant.svg);
  }

  .info-box__image {
    flex: 1 1 $inline-teaser-image-size;
    padding: 0 $site-padding / 2;

    img {
      //min-width: $inline-teaser-image-size;
      //width: 100%;
      //height: auto;
      height: auto;
      margin: 0 auto;
      display: block;
      max-height: 800px;
      //width: auto;
      max-width: 100%;
      //object-fit: cover;
      //width: 100%;
    }
  }

  .node--view-mode-full > & {
    .info-box__flex {
      margin: 0 $site-padding / -2;
    }
  }

  .node--view-mode-inline-teaser & {

    $inline-teaser-image-size: 250px;

    &.info-box--building .info-box__image:before,
    &.info-box--building .info-box__info:after {
      mask-image: url(../images/landmark.svg);
    }
    &.info-box--business .info-box__image:before,
    &.info-box--business .info-box__info:after {
      mask-image: url(../images/store-alt.svg);
    }
    &.info-box--object-of-interest .info-box__image:before,
    &.info-box--object-of-interest .info-box__info:after {
      mask-image: url(../images/pennant.svg);
    }
    &.info-box--person .info-box__image:before,
    &.info-box--person .info-box__info:after {
      mask-image: url(../images/transporter.svg);
    }
    &.info-box--architect .info-box__image:before,
    &.info-box--architect .info-box__info:after {
      mask-image: url(../images/drafting-compass.svg);
    }

    a, a:hover {
      color: $primary;
      text-decoration: none;
    }

    .info-box__info-wrapper {
      padding: 0;
    }

    .info-box__flex {
      flex-flow: row wrap;
      background-color: $accent;

      .node--type-tour & {
        background-color: $accent-tour;
      }
    }

    .info-box__image {
      flex: 1 1 $inline-teaser-image-size;
      padding: 0;
      min-height: $inline-teaser-image-size;

      .field--name-field-media-featured-image {
        width: 100%;
        height: 100%;
      }

      min-height: min(50vw, $inline-teaser-image-size);
      max-height: 240px;

      @extend %teaser-image-hover;
      //height: $inline-teaser-image-size;
      //width: $inline-teaser-image-size;

      position: relative;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        mask-size: 50%;
        mask-repeat: no-repeat;
        mask-position: center;
        content: "";
        overflow: hidden;
        width: 80%;
        height: 80%;
        display: block;

        background-color: $accent_background;

        .node--type-tour {
          background-color: $accent_tour_background;
        }
      }

      img {
        z-index: 1;
        display: block;
        position: relative;
        object-fit: cover;
        height: 100%;
      }
    }

    .info-box__info {
      position: relative;
      &:after {
        position: absolute;
        top: $site-padding / 2;
        right: $site-padding / 2;
        mask-size: $site-padding * 1.5;
        mask-repeat: no-repeat;
        mask-position: center;
        content: "";
        overflow: hidden;
        width: $site-padding * 1.5;
        height: $site-padding * 1.5;
        display: block;

        background-color: $accent;

        .node--type-tour & {
          background-color: $accent-tour;
        }
      }
    }
  }
}

.node--view-mode-inline-teaser--tour-stop .info-box--tour-stop .info-box__image {
  $inline-teaser-image-size: 300px;
  flex: 1 1 $inline-teaser-image-size;
  min-height: $inline-teaser-image-size;
}

.info-box__info {
  background: $accent_background;
  //display: flex;
  //flex-flow: column;

  h4 {
    @include h3;
    margin-bottom: 1em;
  }
  .node--view-mode-inline-teaser > .info-box &:before {
    content: "";
    float: right;
    width: $site-padding * 1.5;
    height: $site-padding * 1.5;
  }
  .node--type-tour & {
    background-color: $accent_tour_background;
  }

  .please-contribute-cta {
    padding-top: $site-padding;
    margin-top: auto;
    display: flex;
    flex-flow: row wrap;

    > div:after, > span:after {
      content: "\00a0";
    }

    > div:not(.please-contribute-edit__text) {
      width: 100%;
    }
  }

  height: 100%;
  padding: $site-padding;

  .field__items {
    .field__item {
      display: inline;
    }

    .field__item:not(:last-child):after {
      content: ",";
    }
  }
}

.node--view-mode-full {
  @include content-margins;
  @include content-wrapper;
}

.path-comment #block-roamer-content {
  @include content-margins;
  @include full-content-wrapper;
}

.main-content__title {
  @include content-margins;
  @include full-content-wrapper;

  .page-title {
    @include section-border($side: left, $color: $accent);
  }
}

.webform-submission-add-form {
  @include content-margins;
  @include full-content-wrapper;
  input.form-text,
  input.form-email {
    @extend %input-style;
  }
  textarea {
    @extend %input-style;
  }
}

.node--view-mode-full {

  .node__body > .field--name-body {
    @include content-wrapper();

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: auto;
      max-width: 100%;
      max-height: 800px;
      object-fit: cover;
      width: 100%;
    }
    line-height: 2rem;

    .caption-drupal-media,
    .media--type-image {
      @include content-margins($scale: 2);

      &.align-left {
        margin: 0;
        max-width: 50%;
        padding: 0 $site-padding $site-padding 0;
      }
      &.align-right {
        margin: 0;
        max-width: 50%;
        padding: 0 0 $site-padding $site-padding;
      }

      + figcaption {
        margin-top: 3px;
        font-style: italic;
        line-height: 1.4;
        em {
          font-style: normal;
        }
      }
    }
    .caption-drupal-media > .media--type-image {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.breadcrumb {
  @include content-margins;
  @include full-content-wrapper;
}
