/* 
.node--type-business .node__meta,
.node--type-business .node__links {
  display: none;
}

.node--type-business .field--name-field-featured-image {
  min-width: 20%;
  max-width: 50%;
  margin-left: $site-padding;
  margin-bottom: -0.4rem;

  img {
    width: 100%;
    height: auto;
  }
}

.node--type-business .section--description {
  display: flex;
  justify-content: space-evenly;
} */