.comment-wrapper {
  @include content-margins;
  @include full-content-wrapper;
  width: #{$full-vw};
  margin-left: 50%;
  transform: translateX(-50%);

  h2 {
    text-transform: uppercase;
    font-weight: 100;
  }

  h3 {
    font-size: $font-size * 1.2;
  }

  .title {
    @include section-border($side: right, $color: $secondary_accent);
    .node--type-tour & {
      @include section-border($side: left, $color: $accent-tour);
    }
  }

  .comment-form__title {
    @include section-border($side: left, $color: $secondary_accent);
    .node--type-tour & {
      @include section-border($side: left, $color: $accent-tour);
    }
  }
  .comment__submitted {
    [typeof="schema:Person"] {
      color: $accent;
      font-weight: 500;
    }
  }
}


.comment-form { 
  .form-textarea-wrapper,
  .form-text {
    border: 2px $secondary_accent solid;
    border-radius: 20px;
    > div {
      border: 0;
    }
  }

  .form-textarea-wrapper {
    overflow: hidden;
    margin: $site-padding / 2 0;
    > div {
      margin: 0;
    }
  }
  .filter-wrapper {
    border: 0;
    margin: $site-padding 0;
    padding: 0;
  }

  .button {
    @extend %button-style;
    margin: 0 auto;
  }

  .form-actions {
    text-align: center;
  }

  .form-text {
    padding: $site-padding/2;
  }

  .form-text {
    margin: 0 $site-padding/2;
  }

  label {
    font-weight: 400;
    margin-left: $site-padding;
    font-size: 1.2rem;
  }
}

.comment {
  background-color: $comment_background;
  padding: 0.75rem 1.25rem;
}

.comment__meta p, .comment__meta a {
  display: inline;
}

.field--type-comment {

  article {
    margin-bottom: $site-padding;
  }

  ul.links {
    padding-left: 0;
    margin: $site-padding / 2 $site-padding / -1 $site-padding / -2;
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;

    li {
      margin: 0;
      padding: 0;
      a {
        padding: $site-padding / 2 $site-padding;
        text-decoration: underline;
        display: block;
        &:hover, &:focus {
          background-color: rgba(0,0,0,0.1);
        }
      }
    }
  }

}
