.block-whereabouts-system-add-content-links,
#block-addcontentanonymous {
  @include content-margins;
  @include content-wrapper;

  li {
    list-style-type: none;
    padding: $site-padding/2 0;
  }

  .node-add-option {
    position: relative;
    padding-left: 20px;
  }

  .node-add-option__icon:before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $accent;
    left: -25px;
    top: 5px;

    mask-size: 80%;
    mask-repeat: no-repeat;
    mask-position: top center;
    overflow: hidden;
    
  }

  .node-add-option__icon--building:before {
    mask-image: url(../images/landmark.svg);
  }

  .node-add-option__icon--business:before {
    mask-image: url(../images/store-alt.svg);
  }

  .node-add-option__icon--object_of_interest:before {
    mask-image: url(../images/pennant.svg);
  }

  .node-add-option__icon--person:before {
    mask-image: url(../images/transporter.svg);
  }

  .node-add-option__icon--page:before {
    mask-image: url(../images/note-sticky.svg);
    top: 0;
  }

  .node-add-option__icon--tour:before {
    mask-image: url(../images/shoe-prints.svg);
  }


}

.node-preview-container {
  background-color: $warning-color;;
  font-weight: bold;
}
