.entity-moderation-form {
  @include content-margins();
  @include full-content-wrapper($reduce-content-width: 1);

  margin: $site-padding auto;
  padding: $site-padding;
  background-color: white;
  //border
  width: 100%;
  display: flex;
  gap: $site-padding;
  justify-content: flex-start;
  align-items: flex-end;
  .form-item-current {
    label {
      margin-bottom: 7px;
    }
  }
  select,
  input[type="text"] {
    border: 2px solid $input_border;
    border-radius: $border-radius--round;
    padding: $site-padding / 4 $site-padding;
    max-width: 250px;
  }
  input[type="submit"] {
    margin: 0;
    @extend %button-style;
  }
}

.entity-moderation-form__item {
  margin: 0;
  //padding: $site-padding / 2;
  .form-item {
    margin: 0;
  }
  .label,
  label {
    font-weight: bold;
  }
}
