.node--type-building,
.node--type-business,
.node--type-object-of-interest,
.node--type-person {

}

.field--name-field-content {
  @include full-content-wrapper;
  > .field-item--paragraph {
    @include content-margins;
  }
}


.paragraph--type--text-with-image {
  .field--name-field-text {
    @include content-wrapper;
    padding: 0;
  }
}


.text-with-image--align-full {
  @include full-content-wrapper($reduce-content-width: 1);
  padding: 0;
}

.text-with-image--align-content {
  @include content-wrapper;
  padding: 0;
}


.text-with-image--align-left {
  .field--type-image {
    float: left;
    padding-right: $site-padding;
  }
}
.text-with-image--align-right {
  .field--type-image {
    float: right;
    padding-left: $site-padding;
  }
}

.text-with-image--align-right,
.text-with-image--align-left {
  @include content-wrapper;
  .field--type-image {
    width: 50%;
    padding-bottom: $site-padding;
    img {
      max-width: 100%;
    }
  }
  @include clearfix;
}

.node--type-building,
.node--type-object-of-interest {
  &.node--view-mode-full {
    .field--name-field-featured-image {
      @include content-margins;
      @include full-content-wrapper($reduce-content-width: 1);
    }
  }
}
