.block-local-tasks-block {
  @include content-margins;
  @include content-wrapper;
  ul.tabs {
    display: flex;
    flex-flow: row wrap;
  }
  li {
    margin: 0;
    display: block;
  }
  a {
    border-bottom: $active-button-border solid transparent;
    &:hover,
    &:focus,
    &:active {
      border-color: $accent;
      text-decoration: none;
      .page-node-type-tour & {
        border-color: $accent-tour;
      }
    }
  }
}
