.messages {
  //margin-top: $site-padding;
  //margin-bottom: $site-padding / 2;
  margin: $site-padding 0 calc(#{$site-padding} / 2);
  @include breakpoint(mobile) {
    margin: $site-padding 0 calc(#{$site-padding} / 2);
  }
  border: 0;
  font-weight: 600;
  letter-spacing: 0.2px;
  border-radius: 5px;
  padding: $site-padding;
  padding-left: calc(#{$site-padding} * 2 + #{$icon-size});
  background-image: none;
  position: relative;
  + .messages {
    margin-top: calc(#{$site-padding} / 2);
  }

  p:first-of-type {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  color: $message-text-color-status;
  a {
    color: white;
    color: $message-text-color-status;
  }

  &.messages--status {
    color: white;
    color: $message-text-color-status;
    background-color: $status-color;
    background-image: none;
    box-shadow: none;
    a {
      color: white;
      color: $message-text-color-status;
    }
  }
  &.messages--warning {
    color: white;
    color: $message-text-color-warning;
    background-color: $warning-color;
    background-image: none;
    box-shadow: none;
    a {
      color: white;
      color: $message-text-color-warning;
    }
  }
  &.messages--error {
    color: white;
    color: $message-text-color-error;
    background-color: $error-color;
    background-image: none;
    box-shadow: none;
    a {
      color: white;
      color: $message-text-color-error;
    }
  }
}

.message__icon {
  position: absolute;
  padding: 0 0 0 $site-padding;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 1em;
  font-size: $icon-size;
  i {
    display: block;
  }
}

.content--sheet {
  .messages {
    box-shadow: none;
    &:first-child {
      margin-top: 0;
    }
  }
}


.messages__wrapper {
  margin: $site-padding / -2;
  margin-bottom: $site-padding;
  .node__content & {
    padding-left: 0;
    padding-right: 0;
  }
}
.messages {
  @include breakpoint(mobile) {
    margin: $site-padding calc(#{$site-padding} / 2) calc(#{$site-padding} / 2);
  }
}



.messages__wrapper {
  max-width: $full-content-width;
  padding: 0 $site-padding;
  margin: $site-padding auto calc(#{$site-padding} / 2);
}

//
//.page-type--sheet,
//.page-type--cards {
//  .block > .messages__wrapper {
//    margin: calc(#{$site-padding} / -2);
//    margin-bottom: calc(#{$site-padding} / 2);
//    //margin-top: 0;
//  }
//}
