.view-whereabouts-neighborhoods {
  @include content-margins;
  @include full-content-wrapper;

  .view-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 $site-padding/-2;
  }
  
  .views-row {
    flex: 1 1 300px;
    position: relative;
    padding: $site-padding / 2;

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      background-color: $site_background;

      &:before {
        @include teaser-placeholder($background: $teaser_background_transparent);
        z-index: 1;
      }

      &:hover,
      &:focus {
        &:before {
          background-color: $teaser-background;
        }
      }
    }
    
    img {
      display: block;
      position: relative;
      z-index: 2;
    }

    h4 {
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      background-color: $teaser_background_transparent;
      padding: $site-padding;
      color: $text-over-primary;
      margin-bottom: 0;
      z-index: 3;
    }

    a:hover h4,
    a:focus h4 {
      background-color: $teaser_background;
      text-decoration: underline;
    }
  }

  .dummy-item {
    flex: 1 1 300px;
    position: relative;
    padding: $site-padding / 2;
  }
}



.block-whereabouts-neighborhood-map-block {
  //@include full-content-wrapper;
  padding: 0;
  margin: 0;

  height: 100%;
  max-width: 100%;
  width: 100%;
}
