.pager {
  font-weight: normal;

  .pager__items {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;

  }

  .pager__item {
    display: block;
    padding: 0;
    font-weight: 600;

    > a {
      padding: $site-padding;
      color: $primary;
    }

    > a:hover {
      color: $accent;
      text-decoration: underline;
    }
  }

  .pager__item--ellipsis {
    padding: $site-padding;
  }

  .is-active a {
    color: $accent;
  }
}