.view-taxonomy-term,
.view-whereabouts-people-places {
  @include content-margins;
  @include full-content-wrapper;

  .form--inline {
    display: flex;
    flex-flow: row wrap;
    gap: $site-padding / 2;
    padding-top: $site-padding;
    align-items: flex-end;

    label {
      font-weight: 600;
    }

    .form-item {
      display: flex;
      flex: 1 1 230px;
      flex-direction: column;
      max-width: 100%;

      input,
      select {
        @extend %input-style;
      }
      margin: 0;
    }

    .form-actions {
      //margin-top: $site-padding*2;
      margin: 0;

      .button {
        @extend %button-style-primary;
        padding-bottom: $site-padding*6/16;
        padding-top: $site-padding*6/16;
        margin: $site-padding 0 $site-padding / 2;
      }
    }
  }
}

.node--type-building,
.node--type-business,
.node--type-object-of-interest,
.node--type-person {
  &.node--view-mode-teaser {

    $listing-teaser-image-size: 300px;
    background-color: $teaser_background;
    display: block;

    margin: $site-padding 0;

    .teaser__image {
      transition: transform 0.25s;
    }

    .teaser__image {
      overflow: hidden;
    }
    @extend %teaser-image-hover;

    .teaser__flex {
      display: flex;
      flex-flow: row wrap;
      color: $text-over-primary;
      position: relative;

      h4 {
        color: $text-over-primary;
        text-align: center;
      }
    }

    .teaser__image {
      flex: 1 1 $listing-teaser-image-size;
      min-height: 240px;
      min-height: min(50vw, 290px);
      max-height: 290px;
      display: block;
      position: relative;
      .field--name-field-media-featured-image {
        width: 100%;
        height: 100%;
      }

      img {
        position: relative;
        display: block;
        z-index: 2;
        object-fit: cover;
        height: 100%;
      }

      &:before {
        @include teaser-placeholder($background: $text-over-primary);
        z-index: 1;
      }
    }

    .teaser__wrapper {
      min-height: 240px;
      min-height: min(50vw, 290px);
      max-height: 290px;
      @include breakpoint(halfmobile) {
        max-height: none;
      }
      padding: $site-padding $site-padding $site-padding * 2 + ($button-top-padding * 2 + $site-padding * 1.5);
      flex: 5 1 $listing-teaser-image-size;
      position: relative;
      z-index: 3;
    }

    .teaser__read-more {
      span {
        @extend %button-style-shared;
        color: $text-over-primary;
        border-color: $text-over-primary;
        background-color: $teaser_background_transparent;
        display: inline-block;
        border-radius: 25px;
        position: absolute;
        bottom: $site-padding;
        left: 50%;
        transform: translateX(-50%);

        &:hover {
          background-color: $text-over-primary;
          color: $teaser-background;
          @include nt($prop: 'background-color');
        }
      }

      text-align: center;
    }
  }
}
