/* .node--type-person {
  .section--info {
    width: 100%;
  }

  .node__meta,
  .node__links  {
    display: none;
  }

  .section--description {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .field--name-field-featured-image {
    flex: 1 1 300px;
    margin-left: $site-padding;
    margin-bottom: -0.4rem;

    img {
      width: 100%;
      height: auto;
    }
  }
}
 */