.path-tours {
  .page-title {
    @include section-border($side: right, $color: $accent-tour);
  }
}

.block-views-blockwhereabouts-recent-tours-recent-tours {
  @include content-margins;
  @include full-content-wrapper;

  .view-content {
    display: flex;
    flex-flow: row wrap;
    margin: 0 $site-padding/-2;

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 0;
    }
  }

  .views-row {
    position: relative;
    padding: $site-padding/2;
  }

  h2 {
    @include section-border($side: left, $color: $accent-tour);
  }

  .view-whereabouts-recent-tours {
    .view-content {
      a {
        padding-bottom: 82%;
      }
    }
    .views-row {
      flex: 1 1 450px;
    }
    .dummy-item {
      flex: 1 1 450px;
    }
  }

  .view-footer {
    display: flex;
    justify-content: center;
    padding: $site-padding;

    a {
      @extend %button-style-shared;
      color: $accent-tour;
      border-color: $accent-tour;

      &:hover {
        @extend %button-style-primary;
        background-color: $accent-tour;
        border-color: $accent-tour;
      }
    }
  }
}

.node--type-tour.node--view-mode-homepage-teaser {
  background-color: $site_background;

  img {
    display: block;
    z-index: 2;
    position: relative;
  }

  .teaser__image:before {
    @include teaser-placeholder($background: $teaser_background);
    z-index: 1;
  }

  .teaser__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $teaser_background;
    overflow: hidden;
    width: 100%;
    max-height: 100%;
    z-index: 3;

    color: $text-over-primary;

    h4 {
      color: $text-over-primary;
      text-align: center;
      padding: $site-padding;
      margin: 0;
    }
  }

    .teaser__content {
      overflow: hidden;

      &:after {
        content: "";
        display: block;
        height: 1000px;
      }

      .trimmed {
        padding: 0 $site-padding $site-padding;
      }

      max-height: 0;
      @include nt($prop: max-height);
    }

    max-height: 0;
    @include nt($prop: max-height);

    &:focus,
    &:hover {
      .teaser__wrapper {
        background-color: $teaser_background_transparent;
      }

      .teaser__content {
        max-height: 1000px;
        height: 100%;
      }

      .teaser__read-more {
        display: block;
      }
    }

    .teaser__read-more {
      position: absolute;
      width: 100%;
      bottom: 10px;
      padding-bottom: $site-padding;
      text-align: center;
      display: none;

      span {
        @extend %button-style-shared;
        color: $text-over-primary;
        border-color: $text-over-primary;
        background-color: $teaser_background_transparent;

        &:hover {
          background-color: $text-over-primary;
          color: $teaser_background;
        }
      }
    }
}

.view-display-id-recent_tours_page {
  $tour-teaser-image-size: 250px;

  @include content-margins;
  @include full-content-wrapper;

  a.node--view-mode-teaser {
    background-color: $teaser_background;
    display: block;
    margin: $site-padding 0;
  }

  .teaser__flex {
    display: flex;
    flex-flow: row wrap;
    color: $text-over-primary;
    position: relative;

    h4 {
      color: $text-over-primary;
      text-align: center;
    }
  }

  .teaser__image {
    flex: 1 1 $tour-teaser-image-size;
    min-height: min(50vw, 290px);
    max-height: 290px;
    display: block;
    position: relative;


    .field--name-field-media-featured-image {
      width: 100%;
      height: 100%;
    }

    img {
      position: relative;
      display: block;
      z-index: 2;
      object-fit: cover;
      height: 100%;
    }

    &:before {
      @include teaser-placeholder($background: $text-over-primary);
      z-index: 1;
    }
  }

  .teaser__wrapper {
    min-height: min(50vw, 290px);
    height: 100%;
    max-height: 290px;
    padding: $site-padding $site-padding $site-padding * 2 + ($button-top-padding * 2 + $site-padding * 1.5);
    flex: 5 1 $tour-teaser-image-size;
    position: relative;
    z-index: 3;
  }

  .teaser__read-more {
    span {
      @extend %button-style-shared;
      color: $text-over-primary;
      border-color: $text-over-primary;
      background-color: $teaser_background_transparent;
      display: inline-block;
      border-radius: 25px;
      position: absolute;
      bottom: $site-padding;
      left: 50%;
      transform: translateX(-50%);

      &:hover, {
        background-color: $text-over-primary;
        color: $teaser_background;
      }
    }
  }
}

.view-whereabouts-recent-tours {
  a {
    .teaser__image {
      overflow: hidden;
    }
    @extend %teaser-image-hover;
  }
}

.trimmed {
  word-break: break-word;
}
