.block-views-blockwhereabouts-recent-comments-recent-comments {
  @include content-margins;
  @include full-content-wrapper;

  h2 {
    @include section-border($side: right, $color: $secondary-accent);
  }

}

.view-whereabouts-recent-comments {
  $comment-teaser-image-size: 200px;

  .indented {
    margin: 0;
    padding: 0;
  }

  a, a:hover {
    color: $primary;
    text-decoration: none;
  }


  a {
    .comment__image {
      overflow: hidden;
    }
    @extend %teaser-image-hover;
  }

  .view-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 $site-padding/-2;
  }

  .views-row {
    flex: 1 1 550px;
    position: relative;
    padding: $site-padding/2;
  }

  .dummy-item {
    flex: 1 1 550px;
    position: relative;
    padding: $site-padding/2;
  }

  .user {
    margin: 0;
  }

  .comment {
    padding: 0;
    height: 100%;
    transition: transform 0.25s;

    .comment__read-more:hover,
    .comment__read-more:focus,
    .comment__author-name:hover,
    .comment__author-name:focus,
    .comment__page-commented-on:hover,
    .comment__page-commented-on:focus {
      text-decoration: underline;
    }
  }

  .comment__read-more {
    float: right;
    color: $accent;
  }

  .comment__flex {
    display: flex;
    flex-flow: row wrap;
    position: relative;
  }

  .comment__meta {
    padding-bottom: $site-padding/2;
  }

  .comment__author-name,
  .comment__page-commented-on {
    color: $accent;
    font-weight: 500;
  }

  .comment__image {
    flex: 0 1 $comment-teaser-image-size;
    position: relative;
    min-height: 200px;
    overflow: hidden;
    transition: transform .25s;

    img {
      display: block;
      z-index: 2;
      position: relative;
    }

    &:before {
      @include teaser-placeholder($background: $accent);
      z-index: 1;
    }
  }

  .comment__wrapper {
    padding: $site-padding;
    height: 100%;
    flex: 1 1 $comment-teaser-image-size;
  }

}

.view-display-id-recent_comments_page {
  @include content-margins;
  @include full-content-wrapper;
}
