
.view-whereabouts-recent-finds {
  .view-content {
    a {
      padding-bottom: 123%;
    }
  }
  .views-row {
    flex: 1 1 350px;
  }
  
  .dummy-item {
    flex: 1 1 350px;
  }
}

.block-views-blockwhereabouts-recent-finds-recent-finds {
  @include content-margins;
  @include full-content-wrapper;

  h2 {
    @include section-border($side: right, $color: $accent);
  }

  a {
    .teaser__image {
      overflow: hidden;
    }
    @extend %teaser-image-hover;
  }


  .view-content {
    display: flex;
    flex-flow: row wrap;
    margin: 0 $site-padding/-2;

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 0;
    }
  }

  .views-row {
    position: relative;
    padding: $site-padding/2;
  }

  .view-footer {
    display: flex;
    justify-content: center;
    padding: $site-padding;

    a {
      @extend %button-style-shared;
      color: $accent;
      border-color: $accent;

      &:hover {
        @extend %button-style-primary;
        background-color: $accent;
        border-color: $accent;
      }
    }
  }
}

.node--type-building.node--view-mode-homepage-teaser {
  background-color: $site_background;

  img {
    display: block;
    z-index: 2;
    position: relative;
  }

  .teaser__image:before {
    @include teaser-placeholder($background: $teaser_background);
    z-index: 1;
  }

  .teaser__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $teaser_background;
    overflow: hidden;
    width: 100%;
    max-height: 100%;
    z-index: 3;

    color: $text-over-primary;

    h4 {
      color: $text-over-primary;
      text-align: center;
      padding: $site-padding;
      margin: 0;
    }
  }

  .teaser__content {
    overflow: hidden;
    &:after {
      content: "";
      display: block;
      height: 1000px;
    }
    .trimmed {
      padding: 0 $site-padding $site-padding;
    }
    max-height: 0;
    @include nt($prop: max-height);
  }

  &:focus,
  &:hover {
    .teaser__wrapper {
      background-color: $teaser_background_transparent;
    }
    .teaser__content {
      max-height: 1000px;
      height: 100%;
    }

    .teaser__read-more {
      display: block;
    }
  }

  .teaser__read-more {
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding-bottom: $site-padding;
    text-align: center;
    display: none;
    
    span {
      @extend %button-style-shared;
      color: $text-over-primary;
      border-color: $text-over-primary;
      background-color: $teaser_background_transparent;
      
      &:hover {
        background-color: $text-over-primary;
        color: $teaser_background;
      }
    }
  }
}

.teaser__read-more {
  white-space: nowrap;
}
