.related-content .views-element-container:nth-child(even),
.field--name-field-related-people-ref,
.field--name-field-related-people {
  h2,
  .field__label {
    @include section-border($side: right, $color: $accent);
  }
}

.related-content .views-element-container:nth-child(odd),
.field--name-field-related-businesses {
  h2,
  .field__label {
    @include section-border($side: left, $color: $accent);
  }
}

.view-whereabouts-related-content,
.field--name-field-related-businesses,
.field--name-field-related-people-ref,
.field--name-field-related-people {
  h2,
  .field__label {
    @include h2;
  }

  .view-eva-content,
  .field__items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 $site-padding/-2;

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 123%;
    }

    > div {
      padding: $site-padding/2;
    }
  }

  .views-row,
  .field__item:not(.field--name-field-media-featured-image):not(.field--name-body) {
    flex: 1 1 400px;
    position: relative;
  }

  .dummy-item {
    flex: 1 1 400px;
    position: relative;
  }

  a {
    .teaser__image {
      overflow: hidden;
    }
    @extend %teaser-image-hover;
  }
}

.node--type-building,
.node--type-object-of-interest,
.node--type-person,
.node--type-business {
  & .node--view-mode-related-teaser {
    background-color: $site_background;

    img {
      display: block;
      z-index: 2;
      position: relative;
      min-height: 100%;
    }

    .teaser__image:before {
      @include teaser-placeholder($background: $teaser_background);
      z-index: 1;
    }

    .teaser__wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $teaser_background;
      overflow: hidden;
      width: 100%;
      max-height: 100%;
      z-index: 3;

      color: $text-over-primary;

      h4 {
        color: $text-over-primary;
        text-align: center;
        padding: $site-padding;
        margin: 0;
      }
    }

    .teaser__content {
      overflow: hidden;

      &:after {
        content: "";
        display: block;
        height: 1000px;
      }

      .trimmed {
        padding: 0 $site-padding $site-padding;
      }
      max-height: 0;
      @include nt($prop: max-height);
    }

    &:focus,
    &:hover {
      .teaser__wrapper {
        background-color: $teaser_background_transparent;
      }

      .teaser__content {
        max-height: 1000px;
        height: 100%;
      }

      .teaser__read-more {
        display: block;
      }
    }

    .teaser__read-more {
      position: absolute;
      width: 100%;
      bottom: 10px;
      padding-bottom: $site-padding;
      text-align: center;
      display: none;

      span {
        @extend %button-style-shared;
        color: $text-over-primary;
        border-color: $text-over-primary;
        background-color: $teaser_background_transparent;

        &:hover {
          background-color: $text-over-primary;
          color: $teaser_background;
        }
      }
    }
  }
}


.field--name-field-related-people {
  .field--name-field-relationship {
    @include h4;
    text-align: center;
    padding: $site-padding/2;
  }
}

/* Mobile */

@media (max-width: 767px) {
  .field--name-field-related-people > .field__items {
    justify-content: center;
  }
}
