.view-whereabouts-related-tours {
  h2 {
    @include section-border($side: left, $color: $accent-tour);
  }

  .view-eva-content {
    display: flex;
    flex-flow: row wrap;
    margin: 0 $site-padding/-2;

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 82%;
    }
  }

  .views-row {
    flex: 1 1 550px;
    position: relative;
    padding: $site-padding/2;
  }

  .dummy-item {
    flex: 1 1 550px;
    position: relative;
    padding: $site-padding/2;
  }
}