.media--type-remote-video {
  margin: $site-padding 0;
  width: 100%;
}
.video-wrapper {
  //iframe[align="right"] {
  //  margin: 0 0 10px 10px;
  //}
  //iframe[align="left"] {
  //  margin: 0 10px 10px 0;
  //}

  //&.video-wrapper--no-align {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  //padding-top: 25px;
  padding-top: 0;
  margin: 0 0 20px 0;
  height: 0;
  display: block;
  object,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 !important;
  }
  //}
}


.media--type-remote-video {
  &.align-right {
    width: 500px;
  }
  &.align-left {
    width: 500px;
  }
}

@include breakpoint(tablet) {
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    margin: 0 0 20px 0;
    height: 0;
    display: block;
    object,
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0 !important;
    }
  }
}
