.block-whereabouts-cta-map-block {
  float: right;
  z-index: 200;
  position: relative;
  background: $site-foreground;
  height: 450px;
  max-width: 100%;
  padding: $site-padding;
  margin-right: calc(50vw - min(#{($full-content-width - $site-padding) / 2}, calc(50vw - #{$site-padding})));
}
