.region-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: $site-padding / 2;
}

// Header View
.block-views-exposed-filter-blockwhereabouts-search-page-header-search {
  position: relative;

  .form-item-search {
    input {
      @extend %input-style;

      margin: 0;
    }
  }

  .form-submit {
    display: block;
    position: absolute;
    padding: $site-padding*3/8;
    margin: 0;
    right: 0;
    top: 0;

    background-color: $primary;
    mask-size: $line-height;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url(../images/magnifying-glass.svg);
  }
}

// Page View
.block-views-exposed-filter-blockwhereabouts-search-page-search,
.view-display-id-page_search {
  @include content-margins;
  @include full-content-wrapper;

  .search-wrapper {
    display: flex;
    flex-flow: row wrap;
    position: relative;

    .form-item-search {
      display: flex;
      flex: 1 1 900px;
      max-width: 100%;
      margin: $site-padding/2 auto;
    }

    .form-submit {
      display: block;
      position: absolute;
      padding: $site-padding/2;
      margin: -$site-padding/2;
      right: -$site-padding/2;
      top: $site-padding*1.375;

      background-color: $primary;
      mask-size: $line-height;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-image: url(../images/magnifying-glass.svg);
    }
  }

  .form-item {
    display: flex;
    flex-flow: column;
    max-width: 100%;
    flex: 0 1 230px;
    margin-right: $site-padding;

    label {
      font-weight: 500;
      min-width: 100%;
    }

    .chosen-container {
      min-width: 230px;
    }

    input {
      @extend %input-style;
    }
  }

  .advanced-wrapper {
    display: flex;
    flex-flow: row wrap;

    details {
    flex: 1 1 900px;
    margin: 0;
    border: none;

      .details-wrapper {
        padding: 0;
      }
    }

    summary::marker {
      display: none;
    }

    span.summary:after {
      content: " ⊕";
      font-size: $font-size*1.2;
      text-decoration: none;
    }

    details[open] {
      span.summary:after {
      content: " ⊖";
      }
    }

    summary,
    input.form-submit,
    .button {
      color: $secondary-accent;
      background: none;
      border: none;
      padding: 0;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    summary,
    .button {
      padding: $site-padding/2;
      margin: -$site-padding/2;
      margin-top: 0;
      margin-bottom: 0;
    }

    input {
      align-self: start;
    }

    .chosen-container .chosen-results li.active-result.highlighted {
      background-color: $secondary_accent;
    }
  }
}

.view-display-id-page_search {

  a {
    display: block;
    min-width: 100%;
  }

  a:hover,
  a:focus {
    text-decoration: none;
    background-color: $search_background;
  }

  ol {
    padding-left: 0;
  }

  li::marker {
    @include h3;
    color: $secondary-accent;
  }

  .search-result--flex {
    display: flex;
    flex-flow: row wrap;
    padding: $site-padding;


    &.search-result--building .search-result--wrapper:before {
      mask-image: url(../images/landmark.svg);
    }
    &.search-result--business .search-result--wrapper:before {
      mask-image: url(../images/store-alt.svg);
    }
    &.search-result--object-of-interest .search-result--wrapper:before {
      mask-image: url(../images/pennant.svg);
    }
    &.search-result--person .search-result--wrapper:before {
      mask-image: url(../images/transporter.svg);
    }
    &.search-result--architect .search-result--wrapper:before {
      mask-image: url(../images/drafting-compass.svg);
    }
    &.search-result--tour .search-result--wrapper:before {
      mask-image: url(../images/shoe-prints.svg);
    }
    &.search-result--page .search-result--wrapper:before {
      mask-image: url(../images/note-sticky.svg);
    }

    .search-result--wrapper {
      display: flex;
      position: relative;
      flex-flow: row wrap;
      width: 100%;

      &:before {
        position: absolute;
        right: 0;
        mask-size: $site-padding * 2;
        mask-repeat: no-repeat;
        mask-position: center;
        content: "";
        overflow: hidden;
        width: $site-padding * 2;
        height: $site-padding * 2;
        display: block;

        background-color: $secondary_accent;

      }
    }

    .search-result--info {
      flex: 1 1 400px;
      &:before {
        content: "";
        float: right;
        width: 40px;
        height: 40px;
        display: block;
      }
    }

    .search-result--image {
      flex: 1 1 200px;
      max-width: 200px;
      position: relative;
      margin-left: $site-padding;
      justify-content: center;

      .field--name-field-media-featured-image {
        padding-top: $site-padding*3;
      }
    }
  }

}

#block-contributebutton {
  //padding-right: $site-padding / 2;
}
