.whereabouts-tour-map-block {

}


.main-content__hero {
  display: block;

  body.tour-no-map & {
    display: none;
  }

  width: 100%;
  height: 500px;
  min-height: 250px;
  max-height: MIN(MAX(250px, 70vw), 500px);
  //max-height: 500px;
  @include nt($prop: min-height);

  top: 0;

  left: 0;
  right: 0;
  z-index: 10;
  position: relative;

  div, .whereabouts-tour-map-block {
    height: 100%;
    display: block;
  }

  //@include nt($prop: max-height);


  &.main-content__hero--scrolled {
    position: fixed;

    .toolbar-fixed & {
      top: 39px;
    }
    .toolbar-fixed.toolbar-horizontal & {
      top: 59px;
    }
    .toolbar-fixed.toolbar-vertical & {
      top: 39px;
    }
    .toolbar-tray-open.toolbar-horizontal & {
      top: 79px;
    }

    border-bottom: 1px solid #ccc;
    &:not(.main-content__hero--open) {
      min-height: 100px;
    }
    + .main-content__hero-spacer {
      margin-top: 500px;

      .toolbar-fixed & {
        margin-top: 39px + 500px;
      }
      .toolbar-fixed.toolbar-horizontal & {
        margin-top: 39px + 500px;
      }
      .toolbar-fixed.toolbar-vertical & {
        margin-top: 39px + 500px;
      }
      .toolbar-tray-open.toolbar-horizontal & {
        margin-top: 79px + 500px;
      }
    }
  }

  //&.collapsed {
  //}
}

.hero-expander {
  $tab-width: 140px;

  position: absolute;
  bottom: -1px;
  left: 50%;
  border: 0;
  height: $tab-width / 2;
  width: $tab-width;


  clip-path: circle($tab-width / 2 at bottom center);
  background: white;
  transform: translateX(-50%);
  z-index: 201;
  text-align: center;
  @include nt($prop: opacity);
  opacity: 0;

  .hero-expander__icon {
    background-color: #333;
    width: 30px;
    height: 20px;
    display: inline-block;
    mask-image: url(../images/arrow-down.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    bottom: $text-size * 1.5;
    left: 50%;
    @include nt($prop: transform);
  }


  .hero-expander__collapse,
  .hero-expander__expand {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  .hero-expander__collapse {
    display: none;
  }
  .hero-expander__expand {
    display: block;
  }
  .main-content__hero--open & {
    .hero-expander__collapse {
      display: block;
    }
    .hero-expander__expand {
      display: none;
    }
    .hero-expander__icon {
      transform: scaleY(-1);
    }
  }
  .main-content__hero--scrolled & {
    opacity: 1;
  }
}
