.page-node-type-tour {
  .page-title {
    @include section-border($side: left, $color: $accent-tour);
  }
}

.node--type-tour {
  $tour-padding: 30px;


  .field--name-field-summary {
    @include content-wrapper;
    padding: 0;
  }

  .node__body {
    counter-reset: css-counter 0;

    .field--name-field-location {
      border-left: $border-width $accent-tour solid;
      padding-left: $tour-padding;
      margin-left: -$tour-padding;

      .info-box {
        margin-top: $site-padding;
        margin-bottom: $site-padding;
      }
    }

    .field--name-field-location > article > h4 {
      counter-increment: css-counter 1;
      @include h2;
    }

    .field--name-field-location > article > h4:before {
      color: $accent-tour;
      font-size: 48px;
      line-height: 40px;
      font-weight: 300;
      content: counter(css-counter) ". ";
    }
  }

  &.node--view-mode-full {
    @include full-content-wrapper;

    .field--type-text-with-summary {
      //@include content-wrapper;
    }

    .field-item--paragraph--type-stop {

      .field--name-field-text {
        border-left: $border-width $accent-tour dotted;
        padding-left: $tour-padding;
        margin-left: -$tour-padding;

        p {
          @include content-wrapper;
          padding: 0;
        }
      }
    }
  }

}
