.user-page--flex {
  @include content-margins($scale: 2);
  @include full-content-wrapper;

  article {
    display: flex;
    flex-flow: row wrap;

    .field--name-user-picture {
      flex: 0 1 300px;
      padding-right: $site-padding;
    }

    .user-page--info {
      flex-flow: column;
    }
  }
}

.user-pass-reset,
.user-login-form,
.user-pass,
.user-register-form {
  @include content-margins;
  @include content-wrapper;

  label {
    font-weight: 600;
  }

  .form-type-managed-file,
  .form-type-email,
  .form-type-textfield,
  .form-type-password {
    input {
      @extend %input-style;
    }
  }

  details {
    @extend %input-style;
    font-weight: 400;
  }

  .form-actions {
    display: flex;
    justify-content: center;
    .button {
      @extend %button-style-primary;
      background-color: $accent;
      border-color: $accent;
    }
  }
}

.block-views-blockwhereabouts-my-content-block-1 {
  @include content-margins($scale: 2);
  @include full-content-wrapper;

  h2 {
    @include section-border($side: right, $color: $secondary_accent);
  }

  //Form

  .form--inline {
    display: flex;
    flex-flow: row wrap;

    label {
      font-weight: 600;
    }

    .form-item {
      display: flex;
      flex: 1 1 230px;
      flex-direction: column;
      max-width: 100%;

      input,
      select {
        @extend %input-style;
      }
    }

    .form-actions {
      margin-top: $site-padding*3;

      .button {
        @extend %button-style-primary;
        padding-bottom: $site-padding*7/16;
        padding-top: $site-padding*7/16;
      }

      #edit-reset {
        margin-right: 0;
      }
    }
  }

  //Table

  .views-view-table {
    width: 100%;

    thead {
      background-color: $accent_background;
      border-bottom: $border-size solid $accent;

      th {
        padding: $site-padding;
      }

      th, a, a:visited {
      color: $accent;
      text-align: left;
      }
    }

    td {
      padding: calc(#{$site-padding / 2}) $site-padding;

      &.is-active {
        background-color: transparent;
      }
    }
    tr:nth-child(even) {
      background-color: $table_striping;
    }

    .tablesort {
      background-color: $accent;
      background-image: none;
      margin-left: $site-padding;
      mask-repeat: no-repeat;
      mask-position: center;

      &.tablesort--asc {
        mask-image: url(../images/arrow-down.svg);
      }

      &.tablesort--desc {
        mask-image: url(../images/arrow-up.svg);
      }
    }

    .dropbutton-wrapper {
      margin: 0;
    }

    .dropbutton-widget {
      width: 100%;
    }
  }
}
