@mixin breakpoint($breakpoint) {
  @if $breakpoint == desktop {
    @media (min-width: 992px) { @content; }
  }
  @else if $breakpoint == tablet {
    @media (max-width: 991px) { @content; }
  }
  @else if $breakpoint == mobile {
    @media (max-width: 767px) { @content; }
  }
  @else if $breakpoint == halfmobile {
    @media (max-width: 600px) { @content; }
  }
}
