//html {
//  --primary: #6f6f6f;
//  --disabled-primary: #6f6f6f;
//  --text-over-primary: #ffffff;
//  --accent: #afafaf;
//  --text-over-accent: #000000;
//  --text-selection: #bddcf2;
//  --table-striping-color: var(--text-selection);
//  --table-border-color: var(--primary);
//  --table-border-color-light: var(--disabled-primary);
//  --site-background: #efefef;
//  --site-foreground: #ffffff;
//}

// as we're not building the color select functionality into the theme yet, for now, set them here.
html {
  --primary: #000000;
  --text-color: #222222;
  --disabled-primary: #6f6f6f;
  --text-over-primary: #ffffff;
  --accent: #bb4624;
  --accent-transparent: rgba(#bb4624,0.8);
  --accent-tour: #355A68;
  --accent-text :#6f6f6f;
  --accent-background: #f8ece8;
  --accent-tour-background: #EBEFF0;
  --secondary-accent: #926d09;
  --comment-background: #f4f0e5;
  --teaser-background: #28201c;
  --teaser-background-transparent: #28201ce6;
  --text-over-accent: #000000;
  --text-selection: #bddcf2;
  --table-striping-color: #fcf3f1;
  --table-border-color: var(--primary);
  --table-border-color-light: var(--disabled-primary);
  --site-background: #efefef;
  --site-foreground: #ffffff;
  --footer-background: #d9cda9;
  --branding-bg: #5b666f;
  --scrollbar-width: 15px;
  --input-border: #cfcfcf;
  --search-background: #f3efe4;
}

$primary: var(--primary);
$text-over-primary: var(--text-over-primary);
$disabled-primary: var(--disabled-primary);
$accent: var(--accent);
$accent--transparent: var(--accent-transparent);
$accent-tour: var(--accent-tour);
$accent_text: var(--accent-text);
$accent_background: var(--accent-background);
$accent_tour_background: var(--accent-tour-background);
$secondary_accent: var(--secondary-accent);
$comment_background: var(--comment-background);
$teaser_background: var(--teaser-background);
$teaser_background_transparent: var(--teaser-background-transparent);
$text-over-accent: var(--text-over-accent);
$text_selection: var(--text-selection);
$table_striping: var(--table-striping-color);
$site_background: var(--site-background);
$site_foreground: var(--site-foreground);
$footer_background: var(--footer-background);
$input_border: var(--input-border);
$search_background: var(--search-background);

$text-color: var(--text-color);
$branding-bg: var(--branding-bg);

$breadcrumb_color: $primary;
$title_color: $primary;
$link_color: $accent;

$table-striping-color: var(--table-striping-color);
$table-border-color: var(--table-border-color);
$table-border-color-light: var(--table-border-color-light);

// form items
$form_item_color: $primary;
$form_item_error_color: var(--form-invalid-color);
$form_item_active_color: $accent;
$primary__light: $text_selection;
$form-invalid-color: var(--form-invalid-color);

// site messages
$site-message-alert: var(--site-message-alert);
$site-message-info: var(--site-message-info);
