@mixin content-wrapper($remove-padding: 0, $reduce-content-width: 0) {
  max-width: $content-width - ($reduce-content-width * $site-padding * 2);
  margin-left: auto;
  margin-right: auto;
  padding: 0 ($site-padding - $site-padding * $remove_padding);
}

@mixin full-content-wrapper($remove-padding: 0, $reduce-content-width: 0) {
  max-width: $full-content-width - ($reduce-content-width * $site-padding * 2);
  margin-left: auto;
  margin-right: auto;
  padding: 0 ($site-padding - $site-padding * $remove_padding);
}

@mixin mid-content-wrapper($remove-padding: 0, $reduce-content-width: 0) {
  max-width: $full-content-width - 250px - ($reduce-content-width * $site-padding * 2);
  margin-left: auto;
  margin-right: auto;
  padding: 0 ($site-padding - $site-padding * $remove_padding);
}

@mixin content-margins($scale: 1) {
  margin: $site-padding * $scale 0;
}

@mixin transition($transition...) {
  transition: $transition;
}
@mixin transition-property($property...) {
  transition-property: $property;
}
@mixin transition-duration($duration...) {
  transition-duration: $duration;
}
@mixin transition-timing-function($timing...) {
  transition-timing-function: $timing;
}
@mixin transition-delay($delay...) {
  transition-delay: $delay;
}

@mixin nt($prop: all, $time: 0.25s, $anim: ease-in-out) {
  //
  // These are seperated to allow for multiple element selection with unquote('item, item2') syntax.
  // @include nt($el: unquote('width, opacity'));
  // You may also use single selectors.
  // @include nt($el: width);
  // Or none at all
  // @include nt;
  //
  @include transition-property($prop);
  @include transition-duration($time);
  @include transition-timing-function($anim);
}

@mixin layer-above($height: 2, $x: 0px, $y: 1px, $diffusion: 4px) {
  box-shadow: $x $y $diffusion 1px rgba(0, 0, 0, 0.15 * $height);
}


$inter-block-margin: $site-padding * 2;

@mixin block($height: 2) {
  @include layer-above($height);
  border-radius: $border-radius;
  border: 1px solid rgba(0,0,0,0.3);
}

$button-top-padding: $site-padding / 4;
$button-side-padding: $site-padding * 2;

%button-padding {
  padding: $button-top-padding $button-side-padding;
}

%button-style-shared {
  @extend %button-padding;

  color: $secondary_accent;
  border: 2px $secondary_accent solid;
  border-radius: 30px;
  background-color: $site_foreground;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  opacity: 0.95;
  @include nt($prop: unquote('background-color, opacity, box-shadow'));

  &:hover,
  &:focus {
    text-decoration: none;
    opacity: 1;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
  }

  &.disabled {
    opacity: 0.8;
    background-color: $disabled-primary;
  }
}

%button-style {
  @extend %button-style-shared;
}


%button-style-primary {
  background-color: $secondary_accent;
  color: $text-over-primary;
  @extend %button-style-shared;
}

.button--primary {
  @extend %button-style-primary;
}


%input-style {
  width: 100%;
  border-radius: $border-radius--round;
  padding: $site-padding*3/8 $site-padding;
  margin: $site-padding/2 $site-padding $site-padding/2 0;
  border: $border-size solid $input_border;
  background-color: $text-over-primary;
  font-weight: 100;

  &:active,
  &:focus {
    outline-color: $input_border;
  }
}

%teaser-image-hover {
  overflow: hidden;
  img {
    transition: transform 0.25s;
  }
  &:hover, &:focus {
    img {
      transform: scale(1.03);
      position: relative;
    }
  }
}

@mixin teaser-placeholder($background: $accent) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mask-image: url(../images/image.svg);
  mask-size: 50%;
  mask-repeat: no-repeat;
  mask-position: center;
  content: "";
  overflow: hidden;
  width: 80%;
  height: 80%;
  display: block;
  background-color: $background;
}



@mixin padded-block($height: 2) {
  @include block($height: 2);
  padding: $site-padding;
  background-color: $site_foreground;
  margin: 0 0 $inter-block-margin;
  word-break: break-word;
  p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin unpadded-block($height: 2) {
  @include block($height: 2);
  padding: 0;
  background-color: $site_foreground;
  margin: 0 0 $inter-block-margin;
  word-break: break-word;
}

@mixin list-block-common() {
  h3 {
    margin: 0;
  }
  .more-link {
    //display: block;
    text-align: center;
    //margin: $site-padding $site-padding * -1 $site-padding * -1;
    //border-top: 1px solid $block-item-separator;

    a {
      padding: $site-padding / 4 $site-padding * 2;
      margin-top: $site-padding;
      display: inline-block;
      background: $primary;
      border-radius: $border-radius;
      color: white;
      @include nt('opacity');
      font-weight: bold;

      &:hover {
        text-decoration: none;
        //background-color: $active_foreground;
        @include layer-above(2);
        opacity: 0.9;
      }
    }
  }
}

@mixin list-block() {
  $linked-fields-size: $site-padding;
  h2 {
    margin: 0.4rem 0 1.3rem;
  }

  h3 {
    flex: 400px 1 1;
  }

  .list-item__title {
    margin: 0.2rem 0;
    grid-area: title;
    text-decoration: none;
    color: $link_color;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }
  .list-item__link-wrapper:hover .list-item__title {
    text-decoration: underline;
  }

  .view-content {
    //margin: $site-padding * -1 $site-padding * -1;
    //padding: $site-padding;

    .views-row {
      //margin: $site-padding;

    }
  }

  .list-item__linked-items {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    display: flex;
    justify-content: flex-end;
    a {
      pointer-events: initial;
    }
  }

  .list-item__content {
    .list-item__meta {
      display: none;
    }
  }
  .views-row:not(:first-child) .list-item,
  .list-item:not(:first-child) {
    .list-item__link-wrapper {
      //margin-top: 1px;
      position: relative;
      &:before {
        width: calc(100% - #{$site-padding * 2});
        height: 1px;
        content: "";
        display: block;
        background-color: $block-item-separator;
        top: 0;
        position: absolute;
      }
    }
  }

  .list-item__link-wrapper {
    padding: $site-padding;
    //padding-top: $site-padding * 1.1;

    text-decoration: none;
    &:hover {
      text-decoration: none;
      background-color: $hover_foreground;
    }
    display: flex;
    flex-flow: row wrap;
  }

  .list-item--has-linked-fields .list-item__link-wrapper {
    padding-bottom: $linked-fields-size + $site-padding;
  }

  .list-items__links {
    display: flex;
    justify-content: flex-end;
  }
  .list-items__link {
    a {
      display: inline-block;
      padding: $site-padding/2 $site-padding;
    }
  }

  //.views-row:first-child .list-item,
  //.view-content > .list-item:first-child,
  //&.view-content > .list-item:first-child {
  //  .list-item__link-wrapper {
  //    padding-top: $site-padding * 1.2;
  //  }
  //}


  .list-item__content-wrapper {
    flex: 3 0 300px;
    max-width: 100%;
  }


  .list-item__meta {
    flex: 1 0 100px;
    justify-self: end;
  }

  .list-item__content {
    //grid-area: details;
    margin-top: $site-padding/2;
    color: $text-color;
  }

  .list-item__content-groups {
    grid-area: meta;
    justify-self: end;
  }
  @include list-block-common();
}

@mixin list-block-override() {
  //h3 {
  //  margin: 0.4rem 0 1.3rem;
  //}
  //
  //.list-item__title {
  //  margin: 0.2rem 0;
  //  grid-area: title;
  //  text-decoration: none;
  //  color: $link_color;
  //}
  //.list-item__link-wrapper:hover .list-item__title {
  //  text-decoration: underline;
  //}

  .view-content {
    margin: $site-padding * -1 $site-padding * -1;
    //padding: $site-padding;
  }

  .views-row {
    &:not(:first-child) {
      margin-top: 1px;
      position: relative;
      &:before {
        width: calc(100% - #{$site-padding * 2});
        height: 1px;
        content: "";
        display: block;
        background-color: $block-item-separator;
        top: 0;
        position: absolute;
      }
    }
    padding: $site-padding;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      //background-color: $active_foreground;
    }
    //display: flex;
    //flex-flow: row wrap;
  }


  .menu-item {
    &:not(:first-child) a {
      margin-top: 1px;
      position: relative;
      &:before {
        width: calc(100% - #{$site-padding * 2});
        height: 1px;
        content: "";
        display: block;
        background-color: $block-item-separator;
        top: 0;
        position: absolute;
      }
    }
    a {
      display: block;
      padding: $site-padding;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        background-color: $hover_foreground;
      }
    }
  }

  .menu-item--expanded {
    list-style: none;
    .menu-item {

      a {
        &:after {
          content: "▸";
          font-size: 1rem;
          display: block;
          position: absolute;
          top: 50%;
          left: $site-padding * 1.25;
          transform: translate(-50%, -50%);
        }
      }

      a {
        position: relative;
        margin-top: 1px;
        padding-left: $site-padding * 2;
        &:before {
          width: calc(100% - #{$site-padding * 2});
          height: 1px;
          content: "";
          display: block;
          background-color: $block-item-separator;
          top: 0;
          left: $site-padding;
          position: absolute;
        }
      }
      .menu-item {
        a {
          padding-left: $site-padding * 3;
          &:after {
            left: $site-padding * 2.25;
          }
        }
        .menu-item {
          a {
            padding-left: $site-padding * 4;
            &:after {
              left: $site-padding * 3.25;
            }
          }
          .menu-item {
            a {
              padding-left: $site-padding * 5;
              &:after {
                left: $site-padding * 4.25;
              }
            }
            .menu-item {
              a {
                padding-left: $site-padding * 6;
                &:after {
                  left: $site-padding * 5.25;
                }
              }
            }
          }
        }
      }
    }
  }


  //.list-item__content-wrapper {
  //  flex: 3 0 300px;
  //  max-width: 100%;
  //}
  //
  //.list-item__meta {
  //  flex: 1 0 100px;
  //  justify-self: end;
  //}

  //.list-item__content {
  //  grid-area: details;
  //  color: $text-color;
  //}
  //
  //.list-item__content-groups {
  //  grid-area: meta;
  //  justify-self: end;
  //}
  @include list-block-common();

}

@mixin tag-style() {
  background-color: $group_tag_background;
  color: $group_tag_text;
  border-radius: $border-radius;
  display: inline-block;
  padding: 0.1rem 0.5rem;
  margin: 0.1rem 0 0.1rem 0.5rem;
  //a {}
  i {
    margin-right: 0.4 * $site-padding;
  }
  @include nt($prop: unquote('box-shadow'));
}

@mixin accent-fade($to: bottom, $size: 3, $background: white) {
  background: linear-gradient(to $to, $primary__light, $background $size, $background 100%);
}


@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


@mixin clearfix-before() {
  &:before {
    content: "";
    display: table;
    clear: both;
  }
}


@mixin sr-only() {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only {
  @include sr-only;
}

@mixin section-border($side: left, $color: $accent) {
  $border-width: 5px;
  //border-bottom: $border-width solid $color;
  position: relative;
  padding-bottom: $site-padding / 2 + $border-width;
  text-transform: uppercase;
  font-weight: 400;
  &:before {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $border-width;
    background-color: $color;
    content: '';
    display: block;
  }
  &:after {
    position: absolute;
    bottom: 0;
    width: $half-vw;
    height: $border-width;
    background-color: $color;
    content: '';
    display: block;

    @if $side == left {
      right: 50%;
      left: auto;
    }
    @else if $side == right {
      left: 50%;
      right: auto;
    }
  }
}

%icon-styles {
  height: $icon-size;
  width: $icon-size;
  display: inline-block;
  transition: transform 0.25s ease;
  mask-size: contain;
  mask-repeat: no-repeat;
  //mask-size: 100%;
  mask-position: center;
  background-color: $text-color;
  z-index: 1;
  position: relative;
}

%icon--message-error {
  @extend %icon-styles;
  mask-image: url('../images/times-circle.svg');
  //background-color: $error-color;
}
.icon--message-error {
  @extend %icon--message-error;
}
%icon--message-warning {
  @extend %icon-styles;
  mask-image: url('../images/exclamation-triangle.svg');
  //background-color: $warning-color;
}
.icon--message-warning {
  @extend %icon--message-warning;
}
%icon--message-status {
  @extend %icon-styles;
  mask-image: url('../images/check-circle.svg');
  //background-color: $status-color;
}
.icon--message-status {
  @extend %icon--message-status;
}
