@import '_mixins.scss';


html {
  font-family: $sans-serif;
}

@mixin h1 {
  font-size: 48px;
  line-height: 44px;
  color: $text-color;
  font-weight: normal;
  font-family: $sans-serif;
  margin: 2rem 0 1rem;
  letter-spacing: 0.5px;
  @include breakpoint(mobile) {
    font-size: 40px;
    line-height: 40px;
  }
}

h1, .h1 {
  @include h1;
}

@mixin h2 {
  font-size: 36px;
  line-height: 37px;
  color: $title_color;
  font-weight: normal;
  font-family: $sans-serif;
  margin: 1.5rem 0 1rem;
  letter-spacing: 0.5px;
  @include breakpoint(mobile) {
    font-size: 34px;
    line-height: 34px;
  }
}

h2, .h2 {
  @include h2;
}

@mixin h3 {
  font-size: 26px;
  line-height: 27px;
  color: $title_color;
  font-weight: normal;
  font-family: $sans-serif;
  margin: 0.2rem 0 0.5rem;
  letter-spacing: 0.3px;
  @include breakpoint(mobile) {
    font-size: 28px;
    line-height: 29px;
  }
}

h3, .h3 {
  @include h3;
}


@mixin h4 {
  font-size: 22px;
  line-height: 26px;
  color: $title_color;
  font-weight: normal;
  font-family: $sans-serif;
  margin: 0.2rem 0 0.5rem;
  letter-spacing: 0.3px;
  @include breakpoint(mobile) {
    font-size: 21px;
    line-height: 22px;
  }
}
h4, .h4 {
  @include h4;
}

@mixin h5 {
  font-size: 20px;
  line-height: 21px;
  color: $title_color;
  font-weight: normal;
  font-family: $sans-serif;
  margin: 0.5em 0;
  letter-spacing: 0.3px;
  @include breakpoint(mobile) {
    font-size: 16px;
    line-height: 17px;
  }
}

h5, .h5 {
  @include h5;
}

html {
  color: $text-color;
  font-family: $sans-serif;
  font-size: $rem-base-size;
  line-height: $line-height;
}

.node {
  color: $text-color;
  font-family: $sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}


footer {
  font-size: $footer-font-size;
  color: $text-color;
  font-family: $sans-serif;
  @include breakpoint(mobile) {
    //font-size: 13px;
    //line-height: 28px;
  }
}

::selection {
  background: $text_selection;
}

a {
  color: $link_color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

//.node--type-tour a {
//  color: $accent-tour;
//}

li {
  margin-top: 5px;
}

.no-break {
  white-space: nowrap;
}

.fad {
  font-family: "Font Awesome 5 Duotone" !important;
}

p {
  color: $primary;
}
