$serif: 'Times New Roman', sans-serif;
$sans-serif: 'Roboto', sans-serif;
$rem-base-size: 16px;
$font-size: 1rem;
$footer-font-size: 1rem;
$line-height: 1.5em;
$border-size: 2px;
$border-radius: 2px;
$border-radius--large: 10px;
$border-radius--round: 25px;
$border-width: 5px;
$scrollbar-width: var(--scrollbar-width);
$full-vw: calc(100vw - #{$scrollbar-width});
//$mid-vw: calc(100vw - #{$scrollbar-width} - MAX(200px, 30vw));
$half-vw: calc(50vw - (#{$scrollbar-width} / 2));

$site-padding: $rem-base-size;
$active-button-border: $site-padding * 4/16;

html {
  --serif: #{$serif};
  --sans-serif: #{$sans-serif};
  --rem-base-size: #{$rem-base-size};
  --site-padding: #{$site-padding};
  --border-width: #{$border-width};
  --border-radius: #{$border-radius};
  --border-radius--large: #{$border-radius--large};
  --font-size: #{$font-size};
}

// Content Sizing

$full-content-width: 1200px + $site-padding * 2;

$content-width: 800px + $site-padding * 2;

// Forms

$form-vert-padding: $site-padding * (3 / 4);
$form-vert-padding-bottom: $site-padding * (3/4 + 1/16);
$form-horiz-padding: $site-padding * (5 / 8);
$form-border-inactive: $site-padding * (1 / 16);
$form-item-height: calc(#{$form-vert-padding * 2} + #{$line-height});

$button-padding: ($form-vert-padding) ($site-padding * 2) ($form-vert-padding-bottom - $site-padding * 1/16);

$form-item-padding: $form-vert-padding $form-horiz-padding $form-vert-padding-bottom;

$icon-size: 1em;

// Header

$header-height: 6rem;

// Footer 

//$footer-region-width: ($full-content-width / 3) - 30;


// messages

$message-text-color-status: #262626;
$status-color: #A1B70D;

$message-text-color-warning: #262626;
$warning-color: #FFD100;

$message-text-color-error: #FFFFFF;
$error-color: #A6192E;
