<template>
  <div id="vue-container">
    <TourMap stops_url="/data/tour/18052/tour.json?cid=2ef0b6b14660a198a623c6fc9678d874"/>
<!--    <CTAMap style="margin-top: 50px;" />-->

  </div>
</template>

<script>
// import WhereaboutsSearch from "./components/WhereaboutsSearch";
// import CTAMap from "./components/CTAMap";
import TourMap from "./components/TourMap";

export default {
  name: 'App',
  components: {
    // WhereaboutsSearch,
    // CTAMap,
    TourMap,
  }
}
</script>
<style lang="scss">@import '../../../../../themes/roamer/assets/scss/common/_variables.scss';
</style>
<style>
#vue-container {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  padding: 0;
  margin: 0;
}
</style>
