$primary: var(--primary);
$site-padding: var(--site-padding);
$sans-serif: var(--sans-serif);
$text-color: var(--text-color);
$accent-tour: var(--accent-tour);
$secondary_accent: var(--secondary-accent);
$bar-color: #355A68;
$accent: #bb4624;
$accent--transparent: rgba(#bb4624,0.8);
//$accent: var(--accent);

$inactive-tab-color: #ddd;

$sidebar-size: 400px;
$sidebar-ext-padding: var(--site-padding);
$sidebar-int-padding: var(--site-padding);
$sidebar-border-thickness: var(--site-padding);
$border-radius: var(--border-radius);

$default-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
$legend-box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.2);

$vertical-mobile-mq: "(max-width: 900px)"; // change in SelectCompareInstitutions as well;

$mobile-sidebar-height: 600px; // change padding in SearchMap.vue as well.
$mobile-map-height: 350px;
