@import "style";


.cke_editable {
  padding: $site-padding;
}

.info-box {
  padding: 0;
  border-top: 1px $primary dashed;
  border-bottom:  1px $primary dashed;
  .info-box__info {
    background-color: $site_foreground;
  }

  .node--view-mode-inline-teaser & {
    background-color: $site_foreground;

    .info-box__flex {
      background-color: $site_foreground;
    }

    .info-box__image:before {
      background-color: $primary;

      .info-box--business {
        mask-image: url(../images/landmark.svg);
      }
    }

    .info-box__info:after {
      display: none;
    }
  }

  .node--view-mode-inline-teaser--embed & {
    padding: 0;
    width: 100%;
    margin-left: 0;
    transform: translate(0, 0);
    margin: 0;
    .info-box__image {
      flex-basis: 200px;
    }
    .info-box__info-wrapper {
      flex-basis: 400px;
    }
  }

}


.field--name-field-media-oembed-video {
  position:relative;
  padding-bottom:56.25%;
  padding-top:0;
  margin: 0;
  height:0;
  display:block;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.media-library-item__edit {
  position: absolute;
  top: 20px;
  z-index: 100;
}


drupal-media[data-align="left"] {
  display: inline-block;
  position: relative;
  float: left;
  max-width: 50%;
  margin: 0 10px 10px 0;
  width: 100%;
}

drupal-media[data-align="right"] {
  display: inline-block;
  position: relative;
  float: right;
  max-width: 50%;
  margin: 0 0 10px 10px;
  width: 100%;
}


.caption > figcaption {
  font-style: italic;
  line-height: 1.2;
  em {
    font-style: normal;
  }
}

.caption {
  margin: 0;
}
