{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

  <header class="header" role="banner">
    <div class="header__content">
      <div class="header__branding">
        {{ page.branding }}

      </div>
      <div class="header__right">
        <div class="header__user">
          {{ page.header_user }}
        </div>
        <div class="header__search">
          {{ page.header }}
        </div>
      </div>
{#      <div class="header__mobile-search">#}
{#        {{ page.header }}#}
{#      </div>#}
    </div>
    <div class="header__menu">
      {{ page.main_menu }}
    </div>
  </header>

  <main class="main-content" role="main">
    {% if page.hero %}
    <div class="main-content__hero">
      {{ page.hero }}
    </div>
    <div class="main-content__hero-spacer"></div>
    {% endif %}
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="main-content__title">
      {{ page.title }}
    </div>
    <div class="main-content__content content">
      {{ page.content }}
    </div>

  </main>

  <footer class="footer" role="contentinfo">
    <div class="footer__wrapper">
    {{ page.footer_first }}
    {{ page.footer_second }}
    {{ page.footer_third }}
    </div>
  </footer>

</div>{# /.layout-container #}
