{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

<div class="user-page--flex">
  <article{{ attributes.addClass(classes) }}>
    {% if content %}
        {{ content.user_picture }}
    <div class="user-page--info">
      {{ content|without('user_picture') }}
    </div>
    {% endif %}
  </article>
</div>