/* Rounded buttons! */
.page-content .button,
.shepherd-element .button,
.media-library-widget-modal .button,
.tour-button.button {
  border-radius: 100px;
}

/* Node-editing customizations. */

.better-descriptions.description {
  margin-top: 0.375rem; /* 6px */
  margin-bottom: 0.375rem; /* 6px */
  color: #55565b;
  font-size: 0.79rem; /* ~13px */
  line-height: 1.0625rem; /* 17px */
}

.better-descriptions.description ~ .form-item,
.better-descriptions.description ~ .form-item .form-item {
  margin-top: 0;
}

.better-descriptions.label {
  display: table;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 0.889rem;
  font-weight: bold;
  line-height: 1.125rem;
}

.form-items-inline {
  flex-flow: wrap !important;
}

.form-items-inline > div {
  margin-right: 0 !important;
}

/* [dir="ltr"] .gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary .entity-meta > .accordion__item .form-datetime-wrapper .form-type--date:first-of-type {
  margin-right: 0 !important;
} */

.field--widget-chosen-select .form-element--type-select-multiple {
  padding-right: calc(2rem - 1px);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3e%3cpath fill='none' stroke-width='1.5' d='M1 1l6 6 6-6' stroke='%23545560'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 2.75rem 0.5625rem; /* w: 14px + (2 * 15px), h: 9px */
}

.media-library-add-form__fields,
.media-library-add-form__added-media {
  max-width: 100%;
}

.media-library-add-form__preview {
  min-width: 100px;
}

.media-library-add-form__added-media input {
  max-width: 100%;
}

/*.ui-state-hover,*/
/*.ui-widget-content .ui-state-hover,*/
/*.ui-widget-header .ui-state-hover, */
/*.ui-state-focus, .ui-widget-content .ui-state-focus, */
/*.ui-widget-header .ui-state-focus, */
.ui-button:hover,
.ui-button:focus {
  font-weight: 700;
}

.media-library-add-form__fields .field--name-field-tags input {
  width: 100%;
}

.embed-thumbnail {
  margin-top: 10px;
}

.media-library-add-form__fields .form-item--name {
  overflow-wrap: anywhere;
}

@media screen and (max-width: 1200px) {
  .media-library-widget-modal .ui-dialog-buttonpane .ui-dialog-buttonset.form-actions {
    flex-basis: 200px;
    padding: 8px 8px 8px 0;
    gap: 8px;
  }

  .ui-dialog-buttonset.form-actions button {
    margin: 0;
    padding: 12px 16px;
  }
}
