.view-whereabouts-embed-content {
    padding-bottom: 6em;
}

.view-whereabouts-embed-content ~ .form-actions {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 5;
    margin-bottom: 0;
}

.view-whereabouts-embed-content ~ .form-actions input {
    margin-bottom: 0;
}

.view-whereabouts-embed-content table .form-item__label {
    width: 100%;
    position: absolute;
    height: 100%;
    display: block;
    cursor: pointer;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    color: transparent;
    clip: unset;
    z-index: 3;

}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
    .view-whereabouts-embed-content table .form-item__label {
        position: relative;
        width: auto;
        height: auto;
    }
}}

.view-whereabouts-embed-content table .form-item__label ~ input {
    z-index: 4;
    position: relative !important;
    top: 0;
}

.view-whereabouts-embed-content table tr {
    position: relative;
}

/* Rounded buttons! */
.entity-browser-form .button,
.media-library-widget-modal .button {
  border-radius: 100px;
}

/*.media-library-add-form__fields .form-item--name {*/
/*  overflow-wrap: anywhere;*/
/*}*/
