/**
 * Admin toolbar icons.
 */
.toolbar-icon-whereabouts-system-admin-dashboard:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16px' height='16px'%3E%3Cpath fill='%23787878' d='M448 32C483.3 32 512 60.65 512 96V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H448zM232 264V160H48V264H232zM48 312V416C48 424.8 55.16 432 64 432H232V312H48zM280 432H448C456.8 432 464 424.8 464 416V312H280V432zM464 264V160H280V264H464z'/%3E%3C/svg%3E");
}
.toolbar-icon-whereabouts-system-admin-dashboard:active:before,
.toolbar-icon-whereabouts-system-admin-dashboard.is-active:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16px' height='16px'%3E%3Cpath fill='%23000000' d='M448 32C483.3 32 512 60.65 512 96V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H448zM232 264V160H48V264H232zM48 312V416C48 424.8 55.16 432 64 432H232V312H48zM280 432H448C456.8 432 464 424.8 464 416V312H280V432zM464 264V160H280V264H464z'/%3E%3C/svg%3E");
}

.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help:before {
  background-image: url("/profiles/whereabouts/themes/roamer/favicon.ico") !important;
}

/* Make tour modals go on top of the admin toolbar. */
.shepherd-modal-overlay-container, .shepherd-element {
  z-index: 600;
}
